<div>
  <h4>Database Fragmentation</h4>
  <div class="desc">Set the database fragmentation level to determine the point when compaction is triggered.</div>

  <div class="formrow form-inline">
    <input
       type="checkbox"
       ng-change="maybeDisableTimeInterval()"
       id="for-data-frag-percent"
       ng-model="autoCompactionSettings.databaseFragmentationThreshold.percentageFlag"
       ng-disabled="(rbac && !rbac.cluster.settings.write)">
    <label for="for-data-frag-percent"></label>
    <input
       type="number"
       ng-change="maybeDisableTimeInterval()"
       ng-model="autoCompactionSettings.databaseFragmentationThreshold.percentage"
       ng-class="{invalid: validationErrors.databaseFragmentationThreshold_percentage_}"
       ng-disabled="!autoCompactionSettings.databaseFragmentationThreshold.percentageFlag || (rbac && !rbac.cluster.settings.write)">
    <small> %</small>
    <div
       class="error"
       ng-show="validationErrors.databaseFragmentationThreshold_percentage_">
      {{validationErrors.databaseFragmentationThreshold_percentage_}}
    </div>
  </div>

  <div class="formrow form-inline">
    <input
       type="checkbox"
       ng-change="maybeDisableTimeInterval()"
       id="for-data-frag-size"
       ng-disabled="(rbac && !rbac.cluster.settings.write)"
       ng-model="autoCompactionSettings.databaseFragmentationThreshold.sizeFlag">
    <label for="for-data-frag-size"></label>
    <input
       type="number"
       ng-change="maybeDisableTimeInterval()"
       ng-model="autoCompactionSettings.databaseFragmentationThreshold.size"
       ng-class="{invalid: validationErrors.databaseFragmentationThreshold_size_}"
       ng-disabled="!autoCompactionSettings.databaseFragmentationThreshold.sizeFlag || (rbac && !rbac.cluster.settings.write)">
    <small> MB</small>
    <div
       class="error"
       ng-show="validationErrors.databaseFragmentationThreshold_size_">
      {{validationErrors.databaseFragmentationThreshold_size_}}
    </div>
  </div>

  <h4>View Fragmentation</h4>
  <div class="desc">Set the view fragmentation level to determine the point when compaction is triggered.</div>
  <div class="formrow form-inline">
    <input
       type="checkbox"
       ng-change="maybeDisableTimeInterval()"
       id="for-view-frag-percent"
       ng-disabled="(rbac && !rbac.cluster.settings.write)"
       ng-model="autoCompactionSettings.viewFragmentationThreshold.percentageFlag">
    <label for="for-view-frag-percent"></label>
    <input
       ng-change="maybeDisableTimeInterval()"
       ng-model="autoCompactionSettings.viewFragmentationThreshold.percentage"
       ng-class="{invalid: validationErrors.viewFragmentationThreshold_percentage_}"
       ng-disabled="!autoCompactionSettings.viewFragmentationThreshold.percentageFlag || (rbac && !rbac.cluster.settings.write)"
       type="number">
    <small> %</small>
    <div
       class="error"
       ng-show="validationErrors.viewFragmentationThreshold_percentage_">
      {{validationErrors.viewFragmentationThreshold_percentage_}}
    </div>
  </div>

  <div class="formrow form-inline">
    <input
       ng-change="maybeDisableTimeInterval()"
       type="checkbox"
       id="for-view-frag-size"
       ng-disabled="(rbac && !rbac.cluster.settings.write)"
       ng-model="autoCompactionSettings.viewFragmentationThreshold.sizeFlag">
    <label for="for-view-frag-size"></label>
    <input
       ng-change="maybeDisableTimeInterval()"
       type="number"
       ng-model="autoCompactionSettings.viewFragmentationThreshold.size"
       ng-class="{invalid: validationErrors.viewFragmentationThreshold_size_}"
       ng-disabled="!autoCompactionSettings.viewFragmentationThreshold.sizeFlag || (rbac && !rbac.cluster.settings.write)">
    <small>MB</small>
    <div
       class="error"
       ng-show="validationErrors.viewFragmentationThreshold_size_">
      {{validationErrors.viewFragmentationThreshold_size_}}
    </div>
  </div>

  <h4>Time Interval</h4>
  <div class="formrow">
    <input
      type="checkbox"
      id="for-enable-compaction-timeperiod"
      ng-disabled="(rbac && !rbac.cluster.settings.write) || !props.isFragmentationProvided"
      ng-model="autoCompactionSettings.allowedTimePeriodFlag">
    <label for="for-enable-compaction-timeperiod">Set the time interval for when compaction is allowed to run</label>

    <div
       mn-period="allowedTimePeriod"
       auto-compaction-settings="autoCompactionSettings"
       rbac="rbac"
       errors="validationErrors">
    </div>

    <input
       type="checkbox"
       id="for-compact-parallel"
       ng-disabled="(rbac && !rbac.cluster.settings.write)"
       ng-class="{invalid: validationErrors.parallelDBAndViewCompaction}"
       ng-model="autoCompactionSettings.parallelDBAndViewCompaction"
       value="true">
    <label for="for-compact-parallel">Compact buckets and views indexes in parallel</label>
    <div
       class="error"
       ng-show="validationErrors.parallelDBAndViewCompaction">
      {{validationErrors.parallelDBAndViewCompaction}}
    </div>
  </div>

  <div ng-if="!isBucketsSettings && indexSettings && indexSettings.storageMode !== 'memory_optimized' && poolDefault.isEnterprise === false">
    <h4>Index Fragmentation</h4>
    <div class="formrow form-inline checkbox-list">
      <input
         type="radio"
         ng-disabled="(rbac && !rbac.cluster.settings.write)"
         id="index-regular-compaction-radio"
         ng-value="false"
         ng-model="autoCompactionSettings.indexCircularCompactionFlag">
      <label for="index-regular-compaction-radio">Append-only write mode with index fragmentation level trigger:</label>
      <br>
      <input
         type="number"
         ng-disabled="(rbac && !rbac.cluster.settings.write) || autoCompactionSettings.indexCircularCompactionFlag === true"
         ng-model="autoCompactionSettings.indexFragmentationThreshold.percentage">
        %
      <div
         class="error"
         ng-show="validationErrors.indexFragmentationThreshold_percentage_">
        {{validationErrors.indexFragmentationThreshold_percentage_}}
      </div>
    </div>
    <div class="formrow">
      <input
         type="radio"
         ng-disabled="(rbac && !rbac.cluster.settings.write)"
         id="for-index-circular-compaction"
         ng-value="true"
         ng-model="autoCompactionSettings.indexCircularCompactionFlag">
      <label for="for-index-circular-compaction">Circular write mode with day + time interval trigger:</label>
      <br>
      <span ng-repeat="day in daysOfWeek">
        <input
           ng-disabled="!autoCompactionSettings.indexCircularCompactionFlag || !rbac.cluster.settings.write"
           type="checkbox"
           id="for-compaction-day-{{day}}"
           ng-model="autoCompactionSettings.indexCircularCompactionDaysOfWeek[day]"
           ng-value="day">
        <label for="for-compaction-day-{{day}}">{{day}}</label>
      </span>
    </div>

    <div
       mn-period="indexCircularCompaction"
       auto-compaction-settings="autoCompactionSettings"
       rbac="rbac"
       errors="validationErrors">
    </div>
  </div>

  <div
     ng-if="indexSettings.storageMode == 'memory_optimized' || poolDefault.isEnterprise === true"
     class="content-box margin-top1">
    <strong>NOTE FOR GSI INDEXES</strong>:&nbsp; Auto-compaction settings are unnecessary for memory-optimized and plasma-based indexes.
  </div>

  <h4 class="inline">Metadata Purge Interval</h4>
  <span
     class="fa-stack icon-info"
     uib-tooltip="Sets the time period during which metadata on deleted items may remain on disk.
                  The acceptable range of values is 0.04 – 60, where 0.04 = 1 hour and 1 = 1 day.
                  Setting this value too high may significantly delay reclaiming of disk space; setting
                  it too low may cause data inconsistencies in XDCR."
     tooltip-placement="top">
    <span class="icon fa-circle-thin fa-stack-2x"></span>
    <span class="icon fa-info fa-stack-1x"></span>
  </span><br>
  <div class="desc">For Couchbase buckets ONLY.</div>
  <div class="formrow form-inline">
    <input
       type="text"
       ng-disabled="(rbac && !rbac.cluster.settings.write)"
       ng-model="autoCompactionSettings.purgeInterval"
       ng-class="{invalid: validationErrors.purgeInterval}"
       id="metadata-purge-frequency"
       class="input-short-1">
    <small ng-show="autoCompactionSettings.purgeInterval > 1 || autoCompactionSettings.purgeInterval < 1">days</small>
    <small ng-show="autoCompactionSettings.purgeInterval == 1">day</small>
    <br>
    <div class="desc">Range .04 (1hr) - 60 days</div>
  </div>
  <div
     class="error"
     ng-show="validationErrors.purgeInterval">
    {{validationErrors.purgeInterval}}
  </div>
</div>

</div>
