<form class="forms">
<div class="dialog-lg dialog-resizable" style="height:80vh">
  <div class="panel-header">
    <h2 class="ellipsis">{{header}}</h2>
  </div>
  <div class="alert alert-warning" ng-if="error_message">{{error_message}}</div>
  <div class="panel-content" ng-style="{ height: error_message ? 'calc(100% - 120px)' : 'calc(100% - 100px)'}">
    <div class="row margin-bottom-half">
      <h4 class="ellipsis margin-right-half">{{doc_id}}&nbsp; <span class="icon fa-search" ng-click="searchDoc()"></span></h4>
      <span class="pills" ng-show="doc_meta">
        <a ng-click="setShowData(true)"
           ng-class="{selected: getShowData()}">Data</a>
        <a ng-click="setShowData(false)"
           ng-class="{selected: !getShowData()}">Metadata</a>
      </span>
    </div>
    <div
       ng-if="showData"
       ui-ace="ace_options"
       ng-model="doc_json"
       class="doc-ace-editor">
    </div>
    <div
       ng-if="!showData"
       ui-ace="meta_ace_options"
       ng-model="doc_meta"
       class="doc-ace-editor">
    </div>
  </div>
  <div class="panel-footer">
    <a ng-click="$dismiss('cancel')" ng-hide="readonly">
      Cancel
    </a>
    <button
       ng-hide="readonly"
       type="submit"
       ng-disabled="errors()"
       ng-click="!errors() && $close('ok')">
       Save
     </button>
    <button
       ng-show="readonly"
       type="submit"
       ng-click="$dismiss('cancel')">
      Done
    </button>
  </div>
</div>
</form>
