[package]
name = "couchbase-shell"
version = "0.4.0"
authors = ["Michael Nitschinger <michael@nitschinger.at>"]
edition = "2018"

[dependencies]
log = "0.4"
pretty_env_logger = "0.3"
structopt = "0.3"
futures = "0.3"
http = "0.2"
warp = "0.2"
tokio = { version = "0.2", features = ["full"] }
reqwest = { version = "0.10", features = ["json"] }
toml = "0.5"
dirs = "2.0"
rust-embed = "5.5"
mime_guess = "2.0"
rpassword = "4.0"
url = "2.1"
async-stream = "0.2"
regex = "1.3.7"
num-bigint = "0.3"
ansi_term = "0.12"
humantime-serde = "1.0"

nu = { branch = "main",  git = "https://github.com/daschl/nushell.git", features = ["extra"] }
nu-protocol = { branch = "main", git = "https://github.com/daschl/nushell.git"  }
nu-errors = { branch = "main", git = "https://github.com/daschl/nushell.git"  }
nu-source = { branch = "main", git = "https://github.com/daschl/nushell.git" }
nu-cli = { branch = "main", git = "https://github.com/daschl/nushell.git" }

async-trait = "0.1.31"
serde = "1.0"
serde_json = "1.0"

tera = "1.1"
fake = { version = "2.2", features = ["chrono"] }
uuid = { version = "0.8", features = ["v4"] }
chrono = { version = "0.4.11", features = ["serde"] }

couchbase = { rev = "889821d987307bed0e58d2b53be32383a3853ef1", git = "https://github.com/couchbaselabs/couchbase-rs", features = ["libcouchbase-static", "volatile"] }

[target.'cfg(not(windows))'.dependencies]
jq-rs = { version = "0.4", features = ["bundled"] }

[[bin]]
name = "cbsh"
path = "src/main.rs"
