[package]
name = "couchbase-shell"
version = "0.3.0-dev"
authors = ["Michael Nitschinger <michael@nitschinger.at>"]
edition = "2018"

[dependencies]
log = "0.4"
pretty_env_logger = "0.3"
structopt = "0.3"
futures = "0.3"
http = "0.2"
warp = "0.2"
tokio = { version = "0.2", features = ["full"] }
reqwest = { version = "0.10", features = ["json"] }
toml = "0.5"
dirs = "2.0"
rust-embed = "5.5"
mime_guess = "2.0"
rpassword = "4.0"
url = "2.1"
async-stream = "0.2"
regex = "1.3.7"
jq-rs = { version = "0.4", features = ["bundled"] }

nu = { rev = "ef4eefa96a6e5cc1d900e286b03ea8471d794844",  git = "https://github.com/nushell/nushell.git", features = ["default", "stable"] }
nu-protocol = { rev = "ef4eefa96a6e5cc1d900e286b03ea8471d794844", git = "https://github.com/nushell/nushell.git"  }
nu-errors = { rev = "ef4eefa96a6e5cc1d900e286b03ea8471d794844", git = "https://github.com/nushell/nushell.git"  }
nu-source = { rev = "ef4eefa96a6e5cc1d900e286b03ea8471d794844", git = "https://github.com/nushell/nushell.git" }
nu-cli = { rev = "ef4eefa96a6e5cc1d900e286b03ea8471d794844", git = "https://github.com/nushell/nushell.git"}

async-trait = "0.1.31"
serde = "1.0"
serde_json = "1.0"

tera = "1.1"
fake = { version = "2.2", features = ["chrono"] }
uuid = { version = "0.8", features = ["v4"] }
chrono = { version = "0.4.11", features = ["serde"] }

couchbase = { rev = "524ad2d7f776d3d1cbe5c80b60c07497b11d9f76", git = "https://github.com/couchbaselabs/couchbase-rs", features = ["libcouchbase-static", "volatile"] }

[[bin]]
name = "cbsh"
path = "src/main.rs"