<div
   class="panel dialog-med dialog dialog-wizard"
   mn-spinner="setupNewClusterCtl.viewLoading">
  <div class="panel-header flex-left">
    <img
       src="../cb_logo_bug_white_2.svg"
       width="32"
       height="32"
       class="margin-right-half">
    <h2>Couchbase &gt; New Cluster</h2>
  </div>
  <form
     class="forms"
     name="setupNewClusterCtl.form"
     novalidate
     ng-submit="setupNewClusterCtl.onSubmit()">
    <div class="panel-content">
      <div
         ng-show="setupNewClusterCtl.form.$submitted"
         class="error error-form">
        <div ng-show="setupNewClusterCtl.form.$submitted && setupNewClusterCtl.form.clusterName.$error.required">
          Cluster name is required
        </div>
        <div ng-show="setupNewClusterCtl.form.$submitted && setupNewClusterCtl.form.username.$error.required">
          Username is required
        </div>
        <div ng-show="setupNewClusterCtl.form.$submitted && setupNewClusterCtl.form.password.$error.required">
          Password is required
        </div>
        <div ng-show="setupNewClusterCtl.form.$submitted && setupNewClusterCtl.form.password.$error.mnEqual">
          The password and verify password fields do not match.
        </div>
        <div ng-show="setupNewClusterCtl.form.$submitted && setupNewClusterCtl.form.password.$error.mnMinlength">
          A password of at least six characters is required.
        </div>

      </div>
      <div
         class="error error-form"
         ng-show="setupNewClusterCtl.errors">
        <div ng-repeat="error in setupNewClusterCtl.errors">{{error}}</div>
      </div>
      <div class="formrow">
        <label for="for-cluster-name-field">Cluster Name</label>
        <input
           type="text"
           name="clusterName"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           maxlength="256"
           mn-focus="setupNewClusterCtl.focusMe"
           id="for-cluster-name-field"
           ng-model="setupNewClusterCtl.state.clusterName"
           required>
      </div>
      <div class="formrow">
        <label for="secure-username">Create Admin Username</label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           name="username"
           id="secure-username"
           ng-model="setupNewClusterCtl.state.user.username"
           required>
      </div>
      <div class="formrow row">
        <div class="column width-6">
          <label for="secure-password">Create Password</label>
          <input
             type="password"
             name="password"
             autocorrect="off"
             spellcheck="false"
             ng-model="setupNewClusterCtl.state.user.password"
             id="secure-password"
             mn-minlength="6"
             mn-equal="{{setupNewClusterCtl.state.user.verifyPassword}}"
             required
             mn-autocomplete-off
             placeholder="6 characters minimum">
         </div>
         <div class="column width-6">
           <label for="secure-password-verify">Confirm Password</label>
           <input
              type="password"
              autocorrect="off"
              spellcheck="false"
              name="passwordVerify"
              id="secure-password-verify"
              mn-autocomplete-off
              ng-model="setupNewClusterCtl.state.user.verifyPassword"
              placeholder="6 characters minimum">
          </div>
        </div>
    </div>
    <div class="panel-footer">
      <a ui-sref="app.wizard.welcome">&lt; Back</a>
      <button type="submit">Next: Accept Terms</button>
    </div>
  </form>
</div>
