/* MINIMAL RESET for: IE11 & fully standards-compliant Chrome, Firefox, Safari */
html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
button {
  width: auto;
  overflow: visible;
}
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
button:active,
button:focus {
  outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
hr {
  display: block;
  box-sizing: content-box;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
a img {
  vertical-align: top;
}
[hidden] {
  display: none !important;
}
/* OPEN SANS (http://www.fontsquirrel.com/license/open-sans) ---------------- */
/* Regular */
@font-face {
  font-family: 'OpenSans';
  src: url("fonts/OpenSans-Regular.woff") format('woff');
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}
/* Italic */
@font-face {
  font-family: 'OpenSans';
  src: url("fonts/OpenSans-Italic.woff") format('woff');
  font-weight: 400;
  font-style: italic;
}
/* Semibold */
@font-face {
  font-family: 'OpenSans';
  src: url("fonts/OpenSans-Semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: 'OpenSans';
  src: url("fonts/OpenSans-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

/* BASE TYPOGRAPHY ---------------------------------------------------------- */
html {
  font-size: 16px;
}
body {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  background: #fff;
  color: #000;
}
/* improves antialiasing of text in Mac OS ---------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
button,
li {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADINGS  -----------------------------------------------------------------*/
/* big white title in blue header ------------------------------------------- */
h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  color: #fff;
  letter-spacing: .025rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
/* modal dialog white title ------------------------------------------------- */
h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
}
/* black subtitles ---------------------------------------------------------- */
h3 {
  font-size: 1.063rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000;
}
/* subtitle2 - section title for forms / same style as <label> -------------- */
h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}
h4 label {
  line-height: inherit;
}
/* subtitle3 - smaller section/component titles ----------------------------- */
h5 {
  font-size: .875rem;
  font-weight: 600;
  color: #000;
}
/* very small title --------------------------------------------------------- */
h6 {
  font-size: .75rem;
  font-weight: 600;
  color: #333;
}
/* MARGINS:  only the first element of type (2nd el in pair),
   preceded by the former element receives this style ----------------------- */
p + h2,
ul + h2,
ol + h2,
dl + h2,
hr + h2,
pre + h2,
table + h2,
form + h2,
p + h3,
ul + h3,
ol + h3,
dl + h3,
hr + h3,
pre + h3,
table + h3,
form + h3,
p + h4,
ul + h4,
ol + h4,
dl + h4,
hr + h4,
pre + h4,
table + h4,
form + h4,
a + h5,
p + h5,
ul + h5,
ol + h5,
dl + h5,
hr + h5,
pre + h5,
table + h5,
form + h5 {
  margin-top: 1rem;
}
p,
ul,
ol,
dl,
hr,
pre,
table,
fieldset {
  margin-bottom: 1rem;
}

/* LISTS -------------------------------------------------------------------- */
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 1.5rem;
}
ol ol li {
  list-style-type: none;
}
ol ol ol li {
  list-style-type: none;
}
ul.nobullet li {
  list-style-type: none;
  padding: .25rem 0;
}

/* BASIC TEXT STYLES ---------------------------------------------------------*/
.text-normal {
  font-size: 1rem;
  font-weight: 400;
}
/* 16px base = 15px --------------------------------------------------------- */
.text-medium {
  font-size: .961rem;
}
/* 16px base = 14px --------------------------------------------------------- */
small {
  font-size: .875rem;
  font-weight: 400;
  white-space:nowrap;
}
/* 16px base = 14px --------------------------------------------------------- */
.text-small {
  font-size: .875rem;
  font-weight: 400;
}
/* 16px base = 13px --------------------------------------------------------- */
.text-smallish {
  font-size: .8125rem;
}
/* 16px base = 12px --------------------------------------------------------- */
.text-smaller {
  font-size: .75rem;
  font-weight: 400;
}
/* 16px base = 11px --------------------------------------------------------- */
.text-fine {
  font-size: .688rem;
  font-weight: 400;
}
.text-finer {
  font-size: .625rem;
  font-weight: 400;
}
.text-larger {
  font-size: 130%;
}
strong,
b {
  font-weight: 600;
}
.semi-bold, .bold {
  font-weight: 600;
}
em,
i {
  font-style: italic;
}
.disabled {
  opacity: .55;
  filter: alpha(opacity=55);
}
.disabled-more {
  opacity: .4 !important;
  filter: alpha(opacity=44) !important;
}
/* capitalization ----------------------------------------------------------- */
.allcaps {
  text-transform: uppercase;
}
.nocaps {
  text-transform: lowercase;
}
.initialcaps {
  text-transform: capitalize;
}
/*  eliding overflow text --------------------------------------------------- */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* super-, sub-script ------------------------------------------------------- */
sub,
sup {
  font-size: 74%;
  line-height: 0;
  position: relative;
  margin-left: .2rem;
}
sup {
  top: -0.4rem;
}
sub {
  bottom: -0.2rem;
}

.monospaced {
  font-size: .75rem;
  font-style: normal;
  font-family: Monaco, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Courier New", monospace;
}

/* code ----------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: .875rem;
  font-style: normal;
  font-family: Monaco, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Courier New", monospace;
}
pre {
  font-size: .875rem;
  line-height: 1.5;
  color: #333;
  overflow: auto;
  word-wrap: normal;
}
td pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
mark,
code,
samp,
kbd {
  padding: .2rem .4rem;
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
}
code {
  background: rgba(0, 0, 0, 0.07);
}
pre code {
  font-size: 100%;
  border: none;
  padding: 0;
  background: none;
  line-height: 1.5rem;
}
var {
  color: rgba(0, 0, 0, 0.5);
}
samp {
  background: #46a9fc;
  color: rgba(255, 255, 255, 0.95);
}
kbd {
  background: #202020;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
}

/* basic hyperlinks --------------------------------------------------------- */
a,
table tbody tr td a {
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  color: #4287d6;
}
a:link {
  color: #4287d6;
}
a:visited {
  color: #4287d6;
}
a:hover {
  color: #333;
}
a:active {
  color: #689fde;
}
a[disabled] {
    pointer-events: none;
    color: #afafaf;
    cursor: default;
}
.disabled-link {
  color: #a1a1a1 !important;
  cursor: default !important;
  pointer-events: none;
}
.link-heavy {
  font-weight: 600;
  color: #4287d6;
}

/* BUTTONS ------------------------------------------------------------------ */
/* default button for major use cases - blue -------------------------------- */
.btn,
button {
  display: inline-block;
  vertical-align: top;
  font-family: OpenSans, sans-serif;
  font-size: .961rem;
  font-weight: normal;
  white-space: nowrap;
  padding: 0 1.5rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #fff;
  background-color: #4287d6;
  min-width: 7rem;
}
.btn:hover,
button:hover {
  background-color: #3c7ac2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease;
}
.btn:active,
button:active {
  background-color: #4287d6;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}
.btn[disabled],
button[disabled] {
  cursor: default;
  box-shadow: none;
  background-color: #8eb7e6;
}
/* utility button for secondary (or de-emphasized) use cases - white -------- */
.btn.outline,
button.outline {
  background-color: #fff;
  border: 1px solid #a6b2bf;
  color: #333;
  line-height: 1.9rem;
  box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.2);
}
.btn.outline:hover,
button.outline:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn.outline:active,
button.outline:active {
  background-color: #eceff2;
  color: #333;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}
button.outline[disabled],
button.outline:hover[disabled] {
  cursor: default;
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
  box-shadow: none;
  background: none;
}
/* min padding outline button when there're lots of them, as in views ------- */
button.tight {
  min-width: 0;
  padding: 0 .75rem;
  line-height: normal;
  font-size: .961rem;
}
/* special button for rebalance - orange ------------------------------------ */
.btn.orange,
button.orange {
  background-color: #f5a623;
  color: #fff;
}
.btn.orange[disabled],
button.orange[disabled] {
  background-color: #fad79e;
  cursor: default;
  box-shadow: none;
}
/* special button for rebalance menu - red ---------------------------------- */
button.red {
  background-color: #e07f82;
  color: #fff;
}
.btn.orange[disabled],
button.red[disabled] {
  background-color: #efbfc0;
  cursor: default;
  box-shadow: none;
}
/* Firefox inner border/padding --------------------------------------------- */
.btn::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* small outline button used in filter dropdown - for instance  ------------- */
button.outline.btn-small {
  height: 1.5rem;
  line-height: 0;
  min-width: 2rem;
  padding: 0;
}
.btn-small .icon {
  top: 0;
}
/* special button setup splash screen --------------------------------------- */
button.btn-lg {
  height: 2.5rem;
  width: 17.5rem;
  font-size: 1rem;
}
/* visually attaches button (on the right) to input field (on the left) ----- */
button.append {
  border-radius: 0 2px 2px 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  margin-left: -1px;
}
input[type="text"].prepend {
  border-radius: 2px 0 0 2px;
}

/* HTML TABLES ---------------------------------------------------------------*/
table {
  width: 100%;
  empty-cells: show;
  max-width: 100%;
}
.table-header {
  height: 3rem;
}

table th,
table td {
  font-size: .875rem;
  padding: 1rem;
  vertical-align: middle;
}
.border-top {
  border-top: 1px solid #eceff2;
}
table th {
  background: #eceff2;
  color: #555;
  font-size: .813rem;
  font-weight: 600;
  padding: .5rem 1rem;
}
table tr.has-hover:hover {
  background-color: #ecf3fa;
  transition: all linear 0.2s;
  cursor: pointer;
}
table tr.row-locked {
  background: #c6dbf2;
  color: #000;
}
table th.no-padding,
table td.no-padding {
  padding:0;
}
table th.no-padding-top,
table td.no-padding-top {
  padding-top:0;
}
table th:last-child,
table td:last-child {
  padding-right: .75rem;
}
table tfoot th,
table tfoot td {
  color: rgba(0, 0, 0, 0.5);
}

table.table-bordered {
  margin-top: -1px;
}
table.table-bordered td,
table.table-bordered th {
  border: 1px solid rgba(0, 0, 0, 0.03);
}
table.table-bordered caption {
  padding-left: 16px;
}
table.table-bordered td:first-child,
table.table-stripped td:first-child,
table.table-bordered th:first-child,
table.table-stripped th:first-child {
  padding-left: 16px;
}
table.table-bordered td:last-child,
table.table-stripped td:last-child,
table.table-bordered th:last-child,
table.table-stripped th:last-child {
  padding-right: 16px;
}

table.table-simple td,
table.table-simple th,
table.table-simple caption {
  border: none;
  padding-left: 0;
}
table.table-simple td,
table.table-simple th {
  padding-bottom: 16px;
}
table.table-flat td,
table.table-flat th,
table.table-flat caption {
  border: none;
  padding: 0;
}
table.table-stroked td,
table.table-stroked th {
  border-bottom: 1px solid #ddd;
}
table.table-stroked tr.no-stroke td {
  border-bottom: 0;
}
table.table-stripped tbody tr:nth-child(odd) td {
  background: #f8f8f8;
}

/*  FORMS --------------------------------------------------------------------*/
form {
  margin: 0;
}
label {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  display: block;
  line-height: 1.7;
}
.forms p {
  margin-bottom: .5rem;
}
/* small text under form fields --------------------------------------------- */
.desc {
  text-transform: none;
  margin-top: 4px;
  color: #333;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
}
.forms h4 + .desc,
.forms label + .desc,
.forms .desc,
.desc {
  margin: 0 0 .5rem 0;
}
.formrow {
  margin-bottom: 1rem;
}
.formrow p {
  margin: 0;
  font-size: .75rem;
}
.formrow small,
label small,
h5 small {
  font-size: .75rem;
  color: #888;
}

.checkbox input[type=text] {
  margin-bottom: .5rem;
}
.checkbox-inline {
  margin-left: 1rem !important;
}
select[multiple="multiple"],
textarea {
  width: 100%;
  resize: vertical;
}
.input,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-family: OpenSans, sans-serif;
  font-size: .875rem;
  padding: 0 .5rem;
  line-height: 2rem;
  height: 2rem;
  outline: none;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  margin-bottom: 0;
  color: #333;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="radio"],
input[type="checkbox"] {
  font-size: .938rem;
  position: relative;
  top: -1px;
  margin-right: .25rem;
  padding: 0;
}
.simple-select { /* container around select to strip styling for Firefox ---- */
  position: relative;
  display: inline-block;
}
.simple-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2rem;
  min-width: 4rem;
  line-height: 1.8rem;

}
.simple-select:after {
  font-family: FontAwesome;
  content: "\f0d7";
  font-size: 1rem;
  text-align: center;
  color: #999;
  position: absolute;
  top: .25rem;
  right: .75rem;
  pointer-events: none;
}
/* this is for select menu with a static label inside it on the left */
.simple-select-inside-label {
  position: absolute;
  left: .75rem;
  top: 5px;
  z-index: 10;
  font-size: .875rem;
  color: #333;
}
.simple-select-inside-label + .simple-select select {
  padding-left: 3.9rem;
}
/* this is for an input text field with a static label inside it on the right */
.inside-label {
  position: absolute;
  right: .5rem;
  top: 7px;
  z-index: 1;
  font-size: .75rem;
  color: #999;
}
.inside-label + .input-inside-label input {
  padding-right: 3.7rem;
}
/* hail mary to kill auto-fill crap -- works in Chrome --------------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  font-family: OpenSans;
}
input:-ms-input-placeholder {
  font-size: .875rem;
  padding: .25rem 0 0 0;
  line-height: normal;
}
input[type="text"]::placeholder,
textarea::placeholder {
  color: #999;
}

input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="text"][disabled],
input[type="tel"][disabled],
input[type="url"][disabled],
input[type="password"][disabled],
textarea[disabled],
select[disabled] {
  resize: none;
  opacity: 0.55;
  filter: alpha(opacity=55);
  cursor: default;
}
label[disabled] {
  opacity: 0.55;
  filter: alpha(opacity=55);
  pointer-events: none;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
}
select[multiple],
textarea {
  height: auto;
  line-height: 1.5;
}
select[multiple] {
  padding: 0;
}
select[multiple] option {
  padding: .25rem .5rem;
}
textarea:focus,
select:focus,
input:focus {
  outline: none;
  background: #fff;
  border: 1px solid #a1a1a1;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
fieldset {
  padding: .5rem 1rem 1rem 1.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
}
legend {
  font-size: 1rem;
  font-weight: 600;
  padding: 0 1rem;
  margin-left: -1rem;
  top: -2px;
  position: relative;
  line-height: 0;
}

.forms textarea,
.forms select,
.forms input[type="email"],
.forms input[type="number"],
.forms input[type="search"],
.forms input[type="text"],
.forms input[type="tel"],
.forms input[type="url"],
.forms input[type="password"] {
  width: 100%;
  display: block;
}
.input-append,
.input-prepend {
  display: flex;
}
.input-append input,
.input-prepend input {
  flex: 1;
  margin-bottom: 0 !important;
}
.input-append input[type="number"],
.input-append input[type="text"],
.input-append textarea,
.input-append select {
  display: inline-block;
}
.forms .label-top {
  padding-top: .5rem;
}
.forms .checkbox-list {
  display: block;
}
.forms label.checkbox {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 16px;
  text-transform: none;
  font-weight: 400;
  cursor: pointer;
  color: #000;
  font-size: .961rem;
}
.forms .checkbox-list .desc {
    display: inline-block;
}
.forms .checkbox-list-vertical .checkbox {
  margin-bottom: 8px;
}
.forms .checkbox-list-vertical .checkbox:last-child {
  margin-bottom: 0;
}

.forms input.width-1,
.forms textarea.width-1,
.forms select.width-1 {
  width: 8.33333333%;
}
.forms input.width-2,
.forms textarea.width-2,
.forms select.width-2 {
  width: 16.66666667%;
}
.forms input.width-3,
.forms textarea.width-3,
.forms select.width-3 {
  width: 25%;
}
.forms input.width-4,
.forms textarea.width-4,
.forms select.width-4 {
  width: 33.33333333%;
}
.forms input.width-5,
.forms textarea.width-5,
.forms select.width-5 {
  width: 41.66666667%;
}
.forms input.width-6,
.forms textarea.width-6,
.forms select.width-6 {
  width: 50%;
}
.forms input.width-7,
.forms textarea.width-7,
.forms select.width-7 {
  width: 58.33333333%;
}
.forms input.width-8,
.forms textarea.width-8,
.forms select.width-8 {
  width: 66.66666667%;
}
.forms input.width-9,
.forms textarea.width-9,
.forms select.width-9 {
  width: 75%;
}
.forms input.width-10,
.forms textarea.width-10,
.forms select.width-10 {
  width: 83.33333333%;
}
.forms input.width-11,
.forms textarea.width-11,
.forms select.width-11 {
  width: 91.66666667%;
}
.forms input.width-12,
.forms textarea.width-12,
.forms select.width-12 {
  width: 100%;
}

.forms.form-inline textarea,
.forms .form-inline textarea,
.forms.form-inline select,
.forms .form-inline select,
.forms.form-inline input[type="email"],
.forms .form-inline input[type="email"],
.forms.form-inline input[type="number"],
.forms .form-inline input[type="number"],
.forms.form-inline input[type="search"],
.forms .form-inline input[type="search"],
.forms.form-inline input[type="text"],
.forms .form-inline input[type="text"],
.forms.form-inline input[type="tel"],
.forms .form-inline input[type="tel"],
.forms.form-inline input[type="url"],
.forms .form-inline input[type="url"],
.forms.form-inline input[type="password"],
.forms .form-inline input[type="password"],
.forms.form-inline .tools-select,
.forms .form-inline .tools-select,
 .forms .form-inline label {
  width: auto;
  display: inline-block;
}

input .input-small {
  font-size: .875rem;
  padding: 0 .5rem;
  height: 28px;
  line-height: normal;
}
input .input-short-1,
.forms input.input-short-1 {
  width: 4rem !important;
}
.input-short-half {
  width: 2.5rem !important;
}
select .select-small {
  font-size: .75rem;
  height: 28px;
  padding: 0;
  border-radius: 2px;
}

/* field validation success and error text ---------------------------------- */
.forms .error,
.forms .success,
form .error,
form .success {
  font-size: .75rem;
  display: block;
}

/* error text after form validation - appears at the top of the form -------- */
.forms .error-form,
form .error-form {
  margin-bottom: .5rem;
}

/* when there is some result status beneath a button ------------------------ */
.result-status {
  font-size: .8125rem;
  margin: .75rem 0 0 0;
}
.result-status.success:before {
  font-family: FontAwesome;
  content: "\f00c";
  font-size: .825rem;
  color: #56b349;
}
.result-status.error:before {
  font-family: FontAwesome;
  content: "\f06a";
  font-size: .825rem;
  color: #e07f82;
}
.result-status.warning:before {
  font-family: FontAwesome;
  content: "\f071";
  font-size: .825rem;
  color: #f5a623;
}

/* visibility / selection --------------------------------------------------- */
.hidden {
  display: none !important;
}
.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.opacity {
  opacity: .6;
  filter: alpha(opacity=60);
}

/* COLORS -> TEXT ----------------------------------------------------------- */
.success { /* green-2 */
  color: #56b349;
}
.warning { /* orange-1 */
  color: #f5a623;
}
.error { /* red-1 */
  color: #cc2a2e;
}

.grayblack-0 {
  color: #000;
}
.grayblack-1 {
  color: #333;
}
.grayblack-2 {
  color: #555;
}
.grayblack-3 {
  color: #a1a1a1;
}
.grayblack-4 {
  color: #d1d1d1;
}
.grayblack-5 {
  color: #d8d8d8;
}
.grayblack-6 {
  color: #ececec;
}
.grayblack-7 {
  color: #f5f5f5;
}

.green-0 {
  color: #248717;
}
.green-1 {
  color: #2ca01c;
}
.green-2 {
  color: #56b349;
}
.green-3 {
  color: #80c677;
}
.green-4 {
  color: #abd9a4;
}
.green-5 {
  color: #bfe2ba;
}
.green-6 {
  color: #d5ecd2;
}
.green-7 {
  color: #e9f5e8;
}

.blue-0 {
  color: #3c7ac2;
}
.blue-1 {
  color: #4287d6;
}
.blue-2 {
  color: #689fde;
}
.blue-3 {
  color: #8eb7e6;
}
.blue-4 {
  color: #b3cfef;
}
.blue-5 {
  color: #c6dbf2;
}
.blue-6 {
  color: #d9e7f7;
}
.blue-7 {
  color: #ecf3fa;
}
.blue-8 {
  color: #f6fafd;
}

.red-0 {
  color: #b02527;
}
.red-1 {
  color: #cc2a2e;
}
.red-2 {
  color: #d65558;
}
.red-3 {
  color: #e07f82;
}
.red-4 {
  color: #ebaaab;
}
.red-5 {
  color: #efbfc0;
}
.red-6 {
  color: #f5d4d5;
}
.red-7 {
  color: #f9e9ea;
}

.orange-0 {
  color: #d9911e;
}
.orange-1 {
  color: #f5a623;
}
.orange-2 {
  color: #f7b84f;
}
.orange-3 {
  color: #f9ca7b;
}
.orange-4 {
  color: #fbdba7;
}
.orange-5 {
  color: #fce4bd;
}
.orange-6 {
  color: #fdedd3;
}
.orange-7 {
  color: #fef6e9;
}

.grayblue-1 {
  color: #949aa0;
}
.grayblue-2 {
  color: #a6b2bf;
}
.grayblue-3 {
  color: #d8dde4;
}
.grayblue-4 {
  color: #eceff2;
}
.grayblue-5 {
  color: #f6f7f9;
}

.beige-1 {
  color: #efebe0;
}

/* COLORS -> BACKGROUNDS ----------------------------------- */
.has-hover:hover {
  background-color: #ecf3fa;
  cursor: pointer;
}

.grayblack-bg-0 {
  background-color: #000;
}
.grayblack-bg-1 {
  background-color: #333;
}
.grayblack-bg-2 {
  background-color: #555;
}
.grayblack-bg-3 {
  background-color: #a1a1a1;
}
.grayblack-bg-4 {
  background-color: #d1d1d1;
}
.grayblack-bg-5 {
  background-color: #d8d8d8;
}
.grayblack-bg-6 {
  background-color: #ececec;
}
.grayblack-bg-7 {
  background-color: #f5f5f5;
}

.green-bg-0 {
  background-color: #248717;
}
.green-bg-1 {
  background-color: #2ca01c;
}
.green-bg-2 {
  background-color: #56b349;
}
.green-bg-3 {
  background-color: #80c677;
}
.green-bg-4 {
  background-color: #abd9a4;
}
.green-bg-5 {
  background-color: #bfe2ba;
}
.green-bg-6 {
  background-color: #d5ecd2;
}
.green-bg-7 {
  background-color: #e9f5e8;
}

.blue-bg-0 {
  background-color: #3c7ac2;
}
.blue-bg-1 {
  background-color: #4287d6;
}
.blue-bg-2 {
  background-color: #689fde;
}
.blue-bg-3 {
  background-color: #8eb7e6;
}
.blue-bg-4 {
  background-color: #b3cfef;
}
.blue-bg-5 {
  background-color: #c6dbf2;
}
.blue-bg-6 {
  background-color: #d9e7f7;
}
.blue-bg-7 {
  background-color: #ecf3fa;
}
.blue-bg-8 {
  background-color: #f6fafd;
}

.red-bg-0 {
  background-color: #b02527;
}
.red-bg-1 {
  background-color: #cc2a2e;
}
.red-bg-2 {
  background-color: #d65558;
}
.red-bg-3 {
  background-color: #e07f82;
}
.red-bg-4 {
  background-color: #ebaaab;
}
.red-bg-5 {
  background-color: #efbfc0;
}
.red-bg-6 {
  background-color: #f5d4d5;
}
.red-bg-7 {
  background-color: #f9e9ea;
}

.orange-bg-0 {
  background-color: #d9911e;
}
.orange-bg-1 {
  background-color: #f5a623;
}
.orange-bg-2 {
  background-color: #f7b84f;
}
.orange-bg-3 {
  background-color: #f9ca7b;
}
.orange-bg-4 {
  background-color: #fbdba7;
}
.orange-bg-5 {
  background-color: #fce4bd;
}
.orange-bg-6 {
  background-color: #fdedd3;
}
.orange-bg-7 {
  background-color: #fef6e9;
}

.grayblue-bg-1 {
  background-color: #949aa0;
}
.grayblue-bg-2 {
  background-color: #a6b2bf;
}
.grayblue-bg-3 {
  background-color: #d8dde4;
}
.grayblue-bg-4 {
  background-color: #eceff2;
}
.grayblue-bg-5 {
  background-color: #f6f7f9;
}

.beige-bg-1 {
  background-color: #efebe0;
}

/* CURSOR STYLES ------------------------------------------------------------ */
.cursor-default {
  cursor: default;
}
.cursor-auto {
  cursor: auto;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-none {
  cursor: none;
}
.cursor-move {
  cursor: move;
}
.cursor-text {
  cursor: text;
}
