/* Responsive Styles ------------------------------------ */
@-ms-viewport {
  width: device-width;
}
@media (pointer:coarse) {
  a:hover {
    border: 0!important;
  }
}

/* responsive medium ------------------------------------ */
@media (max-width: 1020px) {

  html, body {
    font-size: 15px;
  }
  .resp-hide-med {
    display: none !important;
  }
  .resp-wrap-med {
    flex-wrap: wrap;
  }
  .controls.resp-med {
    flex-wrap: wrap;
  }
  .controls.resp-med .column {
    margin-top: .25rem;
  }
  .resp-flex-column-med {
    flex-direction: column;
    justify-content: flex-start;
  }
  .menu-icon {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1.5rem;
  }
  img.logobug {
    margin: 4px .75rem 4px 0;
    min-width: 40px;
    max-width: 40px;
  }
  .logobug-wrapper {
    flex: 1 1 0%;
    white-space: nowrap;
    flex: 0 1 auto;
  }
  header h1 {font-size: 1.75rem;}
  h1 a,
  h1 a:link,
  h1 a:visited,
  h1 a:hover,
  h1 a:active {
    font-size: 1.75rem;
  }
  .header-controls:empty {
    height: 0;
  }
  nav.nav-sidebar.nav-sidebar-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 192px!important;
    margin-right: 0;
    transform: translateX(198px)!important;
  }
  nav.nav-sidebar {
    position: fixed;
    width: 152px;
    padding: 1rem 1rem 1rem .5rem;
    margin: 0;
    background-color: #fff;
    box-shadow: -1px 5px 6px 0 rgba(0,0,0,0.20);
    border: none;
    top: 74px;
    right: 0;
    text-align: left;
    z-index: 11;
    transition: transform 0.25s;
    transform: translateX(158px);
  }
  .nav-sidebar:hover .sidebar-closer-wrapper {
    opacity: 0!important;
  }
  .sidebar-opener {
    display: none;
  }
  nav.nav-sidebar a {
    padding: .25rem .125rem .25rem .75rem;
    line-height: 1.7;
    border: 0;
    border-left: 4px solid #fff;
    text-align: left;
  }
  .nav-sidebar a:hover {
    border: 0;
    border-left: 4px solid #d9e7f7;
  }
  .nav-sidebar a.currentnav,
  .nav-sidebar .currentnav a {
    border: 0;
    border-left: 4px solid #d9e7f7;
    color: #555;
  }
  .content-box-dashboard {
    margin-left: .25rem;
  }
  .content-box-dashboard.resp-med {
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .qm-stats {
    display: none !important;
  }
  .simple-select-inside-label {
    top: 6px !important;
  }
  .alert {
    opacity: .75;
    margin-right: 1rem;
  }
  .footer-save {
    justify-content: flex-end;
    padding-right: 1rem;
  }
  .footer-save button {
    order: 2;
  }
  .footer-save a {
    display: inline-block;
    margin-right: 1rem;
  }
}

/* responsive small ------------------------------------- */
@media (max-width: 720px) {
  .resp-hide-sml {
    display: none !important;
  }
  .resp-show-sml {
    display: inline-block !important;
  }
  .resp-margin-sml {
    margin-bottom: .5rem;
  }
  .padding-left-1 {
    padding-left: 0 !important;
  }
  .margin-left-neg-1 {
    margin-left: 0 !important;
  }
  .row.resp-sml,
  .content-box-dashboard.resp-sml,
  .wb-query-editor-footer,
  .row.flex-wrap {
    flex-wrap: wrap !important;
  }
  div[class*="width-"] {
    width: 94vw;
  }
  .wb-main-wrapper.resp-small {
    width: 100% !important;
  }
  .column {
    margin-right: 0;
  }
  .cbui-table-props,
  .cbui-table-bucketprops,
  .cbui-table-meters {
    margin: 0 0 1.5rem 0!important;
  }
  .cbui-tablerow.resp-sml {
    padding-right: 0;
  }
  /* not sure what this was for:
     flex-flow: column-reverse;
      align-items: stretch;
      word-break: break-all;  */

  .cbui-table-cell.resp-sml {
    overflow: visible;
  }
  .panel .dialog-med,
  .dialog-med,
  .panel .dialog-lg,
  .dialog-lg {
    width: 94vw;
  }
  .forms.max-height-500 {
    max-height: 300px;
  }
  .dialog-resizable {
    width: 98vw;
  }
  input.filter-input,
  .filter-server input.filter-input {
    width: 50vw!important;
  }
  .filter-log input.filter-input {
    width: 94vw;
  }
  .wb-query-editor-footer {
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .wb-result-summary {
    margin: .25rem 0;
  }
  .icon-info {
    display: none !important;
  }
  .about-text.resp-sml {
    position: absolute;
    top: 46px;
    right: 0;
    z-index: 1;
    color: #555;
  }
  .service-widget-row {
    display: block;
    columns: 2 120px;
    margin-top: 1.5rem;
    min-height: 0;
  }
  .service-widget {
    margin-bottom: .5rem;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .controls .column button {
    margin-top: 0!important;
  }
}

/* responsive extra-small ------------------------------- */
@media (max-width: 520px) {

  main {
    padding: .5rem;
  }
  .resp-hide-xsml {
    display: none !important;
  }
  .resp-txt-xsml {
    font-size: 12px !important;
    position: absolute;
    top: 4px;
  }
  .resp-margin-xsml {
    margin-top: 2rem;
  }
  .width-480 {
    width: 94vw;
  }
  div[class*="fix-width-"] {
    width: 94vw;
  }
  nav.nav-header {
    padding: 0 .25rem 0 0;
  }
  header {
    padding: 0 .5rem;
  }
  header h1 {
    margin: .5rem 0 0 0;
  }
  img.logobug {
    margin: 0 .75rem 0 0;
    min-width: 40px;
    max-width: 40px;
  }
  .dialog {
    top: 1.5rem!important;
  }
  .dialog-small,
  .panel.dialog-small,
  .tasks-progress.dialog-small {
    width: 94vw;
  }
  .tasks-progress.dialog-small {
    position:fixed;
    left: 3vw;
    }
  .content-box-dashboard.resp-xsml {
    margin-top: 1rem;
  }
  button.outline {
    min-width: 6rem;
    padding: 0 .75rem;
    line-height: normal;
    font-size: .875rem;
  }
  .filter-server input.filter-input {
    width: 60vw;
  }
  .filter-index input.filter-input {
    width: 50vw;
  }
  .server-actions {
    width: 40vw!important;
    text-align: right;
  }
  .server-actions button {
    padding: 0 .75rem;
    min-width: 0;
    width: 100%;
    margin-left: .25rem;
  }
  .cbui-tablerow.resp-xsml {
    padding-right: 0;
  }
  .audit-module-body {
    padding: .5rem .75rem;
    line-height: 1.8;
  }
}

/* "global" resp styles placed here for precedence ------ */
@media (max-width: 1020px) {
  .resp-show {
    display: block;
  }
  nav.resp-show-menu,
  nav.nav-sidebar.nav-sidebar-hidden.resp-show-menu {
    transform: translateX(0)!important;
  }
  .resp-show-flex {
    display: flex;
  }
}
