<div class="dialog-med">
  <div class="panel-header">
    <h2>New Service Settings</h2>
  </div>
  <form
     class="forms"
     mn-spinner="serversMemoryQuotaDialogCtl.viewLoading"
     ng-submit="serversMemoryQuotaDialogCtl.onSubmit()">
    <div class="panel-content">
      <div class="formrow">
        The 
        <span ng-repeat="service in serversMemoryQuotaDialogCtl.getFirstTimeServiceNames() track by $index">
          <span ng-if="$index > 0"> and </span><span class="semi-bold">{{service}}</span>
        </span>
        <span ng-show="serversMemoryQuotaDialogCtl.firstTimeAddedServices.count > 1"> services have</span>
        <span ng-show="serversMemoryQuotaDialogCtl.firstTimeAddedServices.count == 1"> service has</span> 
        been added to the cluster for the first time. Please review and set the following service-specific settings.
      </div>
      <div class="formrow">
        <h4>RAM Quotas <small>in megabytes per server node</small></h4>
      </div>
      <div
         mn-is-enterprise="serversMemoryQuotaDialogCtl.isEnterprise"
         class="formrow indent-1"
         mn-memory-quota="serversMemoryQuotaDialogCtl.config"
         rbac="rbac"
         errors="serversMemoryQuotaDialogCtl.errors">
      </div>
      <label
         ng-show="serversMemoryQuotaDialogCtl.firstTimeAddedServices.index"
         >Index Storage Setting</label>
      <mn-storage-mode
         ng-if="serversMemoryQuotaDialogCtl.firstTimeAddedServices.index"
         mn-is-enterprise="serversMemoryQuotaDialogCtl.isEnterprise"
         mn-model="serversMemoryQuotaDialogCtl.indexSettings"
         mn-errors="serversMemoryQuotaDialogCtl.postIndexSettingsErrors"
         mn-initial="serversMemoryQuotaDialogCtl.initialIndexSettings"
         mn-permissions="rbac"
         mn-compat="poolDefault.compat"
         class="formrow">
      </mn-storage-mode>
    </div>
    <div class="panel-footer">
      <button type="submit">Save Settings</button>
    </div>
  </form>
</div>
