<div mn-spinner="auditCtl.viewLoading || !auditCtl.state">
  <form
     ng-submit="auditCtl.submit()"
     name="auditForm"
     class="forms">

    <div class="formrow">
      <div class="row flex-left margin-bottom-half">
        <label
           class="toggle-control margin-0"
           for="audit-enable-flag">
          <input
             type="checkbox"
             id="audit-enable-flag"
             ng-disabled="!rbac.cluster.admin.security.write"
             ng-model="auditCtl.state.auditdEnabled">
          <span class="toggle-control-body"></span>
        </label>
        <span class="text-small">&nbsp; Audit events & write them to a log</span>
      </div>
      <div
         ng-if="auditCtl.state.auditdEnabled"
         class="content-box fix-width-6">
        Auditing will log a minimum set of events by default. Expand
        the events modules below to see these defaults and/or select your own set
        of events. <br> NOTE: The number of events selected for logging may impact your
        cluster’s performance. Audit logs may also use significant disk space.
      </div>
    </div>

    <div
       class="formrow fix-width-6">
      <label for="target-log-field">Audit Log Directory</label>
      <input
         type="text"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         id="target-log-field"
         ng-model="auditCtl.state.logPath"
         ng-disabled="!auditCtl.state.auditdEnabled || !rbac.cluster.admin.security.write">

      <div
         ng-if="auditCtl.errors.logPath"
         class="error error-field">
        {{auditCtl.errors.logPath}}
      </div>
    </div>

    <label>File Reset Interval <small>start new empty log after time or size is met</small></label>
    <div class="row flex-left fix-width-6">
      <div class="column form-inline">
        <input
           id="log-rotation-interval"
           ng-model="auditCtl.state.rotateInterval"
           ng-disabled="!auditCtl.state.auditdEnabled || !rbac.cluster.admin.security.write"
           class="input-short-1"
           type="number">
        <div class="simple-select">
          <select
             ng-model="auditCtl.state.rotateUnit"
             ng-disabled="!auditCtl.state.auditdEnabled || !rbac.cluster.admin.security.write">
            <option value="minutes">minute{{auditCtl.state.rotateInterval !== 1 ? "s" : ""}}</option>
            <option value="hours">hour{{auditCtl.state.rotateInterval !== 1 ? "s" : ""}}</option>
            <option value="days">day{{auditCtl.state.rotateInterval !== 1 ? "s" : ""}}</option>
          </select>
        </div>
      </div>
      <div class="column">
        <span class="form-inline">
          <input
             id="log-rotation-size"
             ng-model="auditCtl.state.rotateSize"
             ng-disabled="!auditCtl.state.auditdEnabled || !rbac.cluster.admin.security.write"
             type="number"
             class="input-short-1">
          <small>MB</small>
        </span>
      </div>
    </div>
    <div class="margin-bottom-1-5">
      <div
         ng-if="auditCtl.errors.rotateInterval"
         class="error error-field">
        {{auditCtl.errors.rotateInterval}}
      </div>
      <div
         ng-if="auditCtl.errors.rotateSize"
         class="error error-field">
        {{auditCtl.errors.rotateSize}}
      </div>
    </div>

    <h4>Events</h4>
    <section
       ng-if="adminCtl.poolDefault.isEnterprise && adminCtl.poolDefault.compat.atLeast55"
       class="audit-module"
       ng-class="{'audit-module-open' : showModule}"
       ng-repeat="(module, descs) in auditCtl.state.eventsDescriptors">
      <div class="audit-module-header fix-width-6" ng-class="{'blue-bg-8': auditCtl.findEnabled(module, true) && auditCtl.state.auditdEnabled}">
        <span
           class="disclosure inline"
           ng-class="{disclosed: showModule}"
           ng-click="showModule = !showModule">
          {{auditCtl.mapNames(module)}}
        </span>
        <span
           class="icon"
           ng-if="auditCtl.state.auditdEnabled && !showModule"
           ng-class="auditCtl.findEnabled(module, true) ? 'fa-check green-3' : 'fa-ban red-4'"></span>
      </div>
      <div class="audit-module-body" ng-show="showModule">
        <div class="row flex-left">
          <label
             class="toggle-control margin-0"
             for="thisModule_checkall_{{module}}">
          <input
             type="checkbox"
             id="thisModule_checkall_{{module}}"
             ng-checked="!auditCtl.findEnabled(module, false)"
             ng-disabled="!auditCtl.state.auditdEnabled || !rbac.cluster.admin.security.write"
             ng-click="auditCtl.toggleAll(module)">
          <span class="toggle-control-body"></span>
          </label>
          <span class="text-smaller">&nbsp; enable all</span>
        </div>
        <hr>
        <div
           class="cbui-tablerow items-top padding-left-0 resp-sml"
           ng-repeat="desc in descs">
          <span class="cbui-table-cell">
            <input
               type="checkbox"
               id="thisModule_{{module}}_{{desc.id}}"
               ng-model="desc.enabledByUI"
               ng-disabled="!auditCtl.state.auditdEnabled || !rbac.cluster.admin.security.write ||desc.nonFilterable">
            <label
               class="checkbox"
               for="thisModule_{{module}}_{{desc.id}}">{{desc.name}}</label>
          </span>
          <p class="cbui-table-cell">{{desc.description}}</p>
        </div>
      </div>
    </section>

    <div
       ng-if="adminCtl.poolDefault.isEnterprise && adminCtl.poolDefault.compat.atLeast55"
       class="formrow fix-width-6 margin-top-1 margin-bottom-2">
      <label class="inline">Ignore Events From These Users</label>
      <span
         class="icon-info-warning raised"
         uib-tooltip="NOTE: Important events (shown in the checked-disabled state above) will
                      ALWAYS be logged. Even from these users."
         tooltip-placement="auto right">
        <span class="icon fa-warning"></span>
      </span>
      <textarea
         ng-model="auditCtl.state.disabledUsers"
         ng-disabled="!auditCtl.state.auditdEnabled || !rbac.cluster.admin.security.write"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         rows="3"
         placeholder="e.g. username/external, username/couchbase...">
      </textarea>
      <div
         ng-if="auditCtl.errors.disabledUsers"
         class="error error-field">
        {{auditCtl.errors.disabledUsers}}
      </div>
    </div>
    <footer class="footer-save">
      <button
         ng-show="rbac.cluster.admin.security.write"
         class="margin-right-2">
        Save
      </button>
      <a class="text-medium" ng-click="auditCtl.reloadState()">Cancel/Reset</a>
    </footer>
  </form>
</div>
