<div class="row flex-center">
  <div
     min-height="100px"
     mn-spinner="!analyticsListGraphCtl.selectedStat || analyticsCtl.viewLoading">
    <h4 class="initialcaps width-12 text-center margin-top-1 margin-bottom-half">
      <span ng-show="!analyticsCtl.isSpecificStats">
        {{analyticsCtl.state.selectedStat.config.value}}
      </span>
      {{analyticsListGraphCtl.selectedStat.title}}
      <span ng-show="analyticsCtl.state.selectedStat.column && !analyticsCtl.isSpecificStats">
        ({{analyticsCtl.state.selectedStat.column}})
      </span>
      &nbsp;
      <span
         ng-show="analyticsListGraphCtl.selectedStat.visiblePeriod"
         class="text-smaller defaultcaps">
        last {{analyticsListGraphCtl.selectedStat.visiblePeriod | mnFormatUptime}}
      </span>
    </h4>
    <div
       class="text-center margin-top4"
       style="white-space: nowrap; width: 740px; height: 240px; line-height: 240px;"
       ng-show="!analyticsListGraphCtl.selectedStat.visiblePeriod">
      There are currently no statistics to show.
    </div>
    <div
       class="inline margin-right-1 text-smaller"
       style="width: 740px; height: 240px;"
       ng-if="analyticsListGraphCtl.selectedStat.visiblePeriod &&
              analyticsListGraphCtl.selectedStat.graphConfig"
       mn-plot
       mn-plot-config="analyticsListGraphCtl.selectedStat.graphConfig">
    </div>
  </div>
  <div
     ng-hide="!analyticsListGraphCtl.selectedStat"
     ng-if="rbac.cluster.bucket[analyticsCtl.currentBucket].stats.read"
     class="pills pills-small width-1 margin-right-1">
    <a ui-sref="{zoom: 'minute'}" ui-sref-active="selected">Minute</a>
    <a ui-sref="{zoom: 'hour'}" ui-sref-active="selected">Hour</a>
    <a ui-sref="{zoom: 'day'}" ui-sref-active="selected">Day</a>
    <a ui-sref="{zoom: 'week'}" ui-sref-active="selected">Week</a>
    <a ui-sref="{zoom: 'month'}" ui-sref-active="selected">Month</a>
    <a ui-sref="{zoom: 'year'}" ui-sref-active="selected">Year</a>
  </div>
</div>
