<mn-element-cargo depot="alerts">
  <div
     ng-if="analyticsCtl.state.status && rbac.bucketNames['.stats!read'].length"
     ng-switch="analyticsCtl.state.status"
     class="interim alert alert-warning">
    <p ng-switch-when="_404">Bucket name should be specified.</p>
    <p ng-switch-when="404">Error 404: Either this bucket or node or statistic does not exist or is hosted on another node or bucket.</p>
    <p ng-switch-when="403">Error 403: You do not have the necessary permissions to see statistics on this bucket.</p>
    <p ng-switch-default>Unexpected Server Error</p>
  </div>
</mn-element-cargo>

<div style="width: 888px;" mn-spinner="!analyticsCtl.state" min-height="240px">
  <div class="row flex-center">
    <h4 class="initialcaps inline"
        ng-show="analyticsCtl.isSpecificStats"
        >
      {{analyticsCtl.state.selectedStat.config.value}}
      {{analyticsCtl.state.origTitle}}
      <span ng-show="analyticsCtl.state.selectedStat.column">
        ({{analyticsCtl.state.selectedStat.column}})
      </span>
    </h4> &nbsp;
    <ui-select
       class="cbui-select"
       ng-model="analyticsCtl.currentBucket"
       theme="selectize"
       ng-disabled="!rbac.bucketNames['.stats!read'].length"
       on-select="analyticsCtl.onSelectBucket($item)">
      <ui-select-match
         class="ui-select-match">{{$select.selected}}</ui-select-match>
      <ui-select-choices
         class="ui-select-choices"
         repeat="name in rbac.bucketNames['.stats!read'] | filter: $select.search">
        <span class="select-item ellipsis" ng-bind-html="name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
    <span ng-if="!analyticsCtl.isSpecificStats" class="margin-left-2">
      <ui-select
         class="cbui-select"
         ng-model="analyticsCtl.nodes.nodesNames.selected"
         theme="selectize"
         on-select="analyticsCtl.onSelectNode($item)">
        <ui-select-match
           class="ui-select-match">{{$select.selected}}</ui-select-match>
        <ui-select-choices
           class="ui-select-choices"
           repeat="name in analyticsCtl.nodes.nodesNames | filter: $select.search">
          <span class="select-item ellipsis" ng-bind-html="name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </span>
  </div>

  <ui-view ng-if="!analyticsCtl.state.status">
  </ui-view>

  <div
     class="zero-content"
     ng-show="analyticsCtl.state.status === '_404' && !rbac.bucketNames['.stats!read'].length">
    There are currently no buckets and no stats to show.
    <span ng-show="rbac.cluster.buckets.create">
      Go to <a ui-sref="app.admin.buckets">Buckets</a> to add one,
      or load a <a ui-sref="app.admin.settings.sampleBuckets">sample bucket</a> with data & indexes.
    </span>
  </div>

  <div
     class="margin-top-2"
     ng-if="!analyticsCtl.state.status && !analyticsCtl.isSpecificStats && rbac.cluster.bucket[analyticsCtl.currentBucket].stats.read" >
    <h4 class="padding-left margin-bottom-half">Top Keys</h4>
    <table class="table-stroked">
      <thead>
        <tr>
          <th>Key</th>
          <th class="text-center">Ops/Sec</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="key in analyticsCtl.state.stats.hot_keys">
          <td class="break-word">{{key.name}}</td>
          <td class="text-center">{{analyticsCtl.computeOps(key)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
