<div
   mn-spinner="!bucketsDetailsCtl.bucketDetails">
  <div class="row flex-left items-top resp-sml">
    <div class="cbui-table-bucketprops cursor-text" ng-click="$event.stopPropagation();">
      <div class="nowrap">
        <strong>Type: </strong>
        <span ng-show="bucket.isMembase">Couchbase</span>
        <span ng-show="bucket.isMemcached">Memcached</span>
        <span ng-show="bucket.isEphemeral">Ephemeral</span>
      </div>
      <div class="nowrap">
        <strong>Bucket RAM Quota: </strong>
        {{bucket.quota.ram | mnFormatQuantity}}
      </div>
      <div class="nowrap">
        <strong>Cluster RAM Quota: </strong>
        {{bucket.basicStats.storageTotals.ram.quotaTotalPerNode | mnFormatQuantity}}
      </div>
      <div
         class="nowrap"
         ng-show="!bucket.isMemcached">
        <strong>Replicas:</strong>
        {{bucketsDetailsCtl.bucketDetails.replicaNumber != 0 ? (bucketsDetailsCtl.bucketDetails.replicaNumber) : 'disabled'}}
      </div>
      <div class="nowrap">
         <strong>Server Nodes: </strong> {{ bucket.nodes.length }}
       </div>
      <div
         class="nowrap"
         ng-if="!bucket.isMemcached">
        <strong>Ejection Method: </strong>
        {{bucket.isEphemeral ?
        bucketsDetailsCtl.bucketDetails.evictionPolicy === "noEviction" ? 'No ejection' : 'NRU ejection' :
        bucketsDetailsCtl.bucketDetails.evictionPolicy === "valueOnly" ? 'Value-Only' : 'Full'}}
      </div>
      <div class="nowrap" ng-if="!bucket.isMemcached">
        <strong>Conflict Resolution:</strong>
        <span ng-show="bucket.conflictResolutionType === 'lww'">Timestamp</span>
        <span ng-show="bucket.conflictResolutionType === 'seqno'">Sequence Number</span>
      </div>
      <div
         class="nowrap"
         ng-if="bucket.isMembase && rbac.cluster.tasks.read">
        <strong>Compaction:</strong>
        {{bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask ? bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.progress + "% complete" : "Not active"}}
      </div>
      <div
         class="nowrap"
         ng-if="bucket.isEphemeral">
        <strong>Metadata Purge Interval:</strong>
        {{(bucketsDetailsCtl.bucketDetails.purgeInterval)}}
      </div>
      <div
         class="nowrap"
         ng-if="bucket.isMembase">
        <strong>Storage Backend:</strong>
        {{bucketsDetailsCtl.bucketDetails.storageBackend === "couchstore" ? "CouchStore" :
          bucketsDetailsCtl.bucketDetails.storageBackend === "magma" ? "Magma" : ""}}
      </div>
    </div>

    <div class="cbui-table-meters buckets">
      <h5>Memory</h5>
      <hr>
      <div
         class="bar-usages"
         mn-bar-usage
         base-info="bucketsDetailsCtl.bucketRamGuageConfig">
      </div>
    </div>
    <div class="cbui-table-meters buckets">
      <h5 ng-show="bucket.isMembase">Disk</h5>
      <hr ng-show="bucket.isMembase">
      <div ng-if="bucket.isMembase">
        <div
           class="bar-usages"
           mn-bar-usage
           base-info="bucketsDetailsCtl.getGuageConfig(bucketsDetailsCtl.bucketDetails)">
        </div>
      </div>
    </div>
  </div>

  <div
     ng-if="bucketsDetailsCtl.warmUpTasks.length && rbac.cluster.tasks.read"
     mn-warmup-progress
     warm-up-tasks="bucketsDetailsCtl.warmUpTasks"
     sort-by="hostname"
     class="margin-bottom-1">
  </div>

  <div class="row flex-right">
    <span>
      <button
         class="outline"
         ng-disabled="poolDefault.rebalancing"
         ng-show="rbac.cluster.bucket[bucket.name].delete"
         ng-click="$event.stopPropagation();bucketsDetailsCtl.deleteBucket(bucketsDetailsCtl.bucketDetails)">Delete</button>
      <button
         class="outline"
         ng-show="!bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI && bucket.isMembase && rbac.cluster.tasks.read && rbac.cluster.bucket[bucket.name].compact"
         ng-disabled="bucketsDetailsCtl.compactionTasks.disableCompact"
         ng-click="$event.stopPropagation();bucketsDetailsCtl.registerCompactionAsTriggeredAndPost(bucketsDetailsCtl.bucketDetails.controllers.compactAll, 'disableCompact')">Compact</button>
      <button
         class="orange"
         ng-show="bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI && rbac.cluster.tasks.read && rbac.cluster.bucket[bucket.name].compact"
         ng-disabled="bucketsDetailsCtl.compactionTasks.disableCancel"
         ng-click="$event.stopPropagation();bucketsDetailsCtl.registerCompactionAsTriggeredAndPost(bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI, 'disableCancel')">Cancel Compaction</button>
      <button
         class="outline"
         ng-disabled="poolDefault.rebalancing"
         ng-show="bucketsDetailsCtl.bucketDetails.controllers !== undefined && bucketsDetailsCtl.bucketDetails.controllers.flush !== undefined && rbac.cluster.bucket[bucket.name].flush"
         ng-click="$event.stopPropagation();bucketsDetailsCtl.flushBucket(bucketsDetailsCtl.bucketDetails)">Flush</button>
     <button
        ng-disabled="poolDefault.rebalancing"
        ng-click="$event.stopPropagation();bucketsDetailsCtl.editBucket(bucketsDetailsCtl.bucketDetails)"
        ng-show="rbac.cluster.bucket[bucket.name].settings.write">Edit</button>
    </span>
  </div>
</div>
