<div
   class="cbui-table"
   mn-sortable-table>
  <div class="cbui-table-header" ng-if="buckets.length">
    <span class="cbui-table-cell flex-grow-3">
      <span
         mn-sortable-title="name"
         sort-by-default="true"
         class="sorter">
        name
      </span>
    </span>
    <span class="cbui-table-cell">items</span>
    <span class="cbui-table-cell">resident</span>
    <span class="cbui-table-cell">ops/sec</span>
    <span class="cbui-table-cell flex-grow-1-5 resp-hide-sml">RAM used/quota</span>
    <span class="cbui-table-cell resp-hide-med">disk used</span>
    <span class="cbui-table-cell flex-grow-1-5 resp-hide-xsml"></span>
  </div>
  <div class="zero-content" ng-if="!buckets.length">
    You have no data buckets. Use "ADD BUCKET" above to create one,
    or load a <a ui-sref="app.admin.settings.sampleBuckets">sample bucket</a> with data & indexes.
  </div>
  <div
     ng-if="buckets.length"
     ng-repeat="bucket in buckets | orderBy:mnSortableTable.sortableTableProperties.orderBy:mnSortableTable.sortableTableProperties.invert track by bucket.name"
     ui-view="item">
  </div>
</div>
