<section
   class="has-hover"
   ng-click="bucketsListCtl.toggleDetails(bucket.name)"
   ng-class="{['dynamic_' + bucketsItemCtl.bucketStatus.statusClass] : bucketsListCtl.isDetailsOpened(bucket.name) || (bucketsItemCtl.getWarmUpProgress(bucket, adminCtl.tasks) !== false && rbac.cluster.tasks.read) || bucketsItemCtl.bucketStatus.statusClass !== 'healthy'}">
  <div
     class="cbui-tablerow resp-xsml"
     ng-class="{['dynamic_' + bucketsItemCtl.bucketStatus.statusClass] : !bucketsListCtl.isDetailsOpened(bucket.name) && !(bucketsItemCtl.getWarmUpProgress(bucket, adminCtl.tasks) !== false && rbac.cluster.tasks.read) && bucketsItemCtl.bucketStatus.statusClass == 'healthy'}">
    <span class="cbui-table-cell flex-grow-3 row flex-left">
      <div class="cbui-tablerow-title ellipsis">{{bucket.name}}</div>
      <span class="label lt-blue" ng-show="bucket.isMemcached">
        memcached
      </span>
      <span class="label lt-blue" ng-show="bucket.isEphemeral">
        ephemeral
      </span>
    </span>

    <span class="cbui-table-cell">
      {{bucket.basicStats.itemCount | number}}
    </span>
    <span class="cbui-table-cell">
      <span ng-show="bucket.isMembase">
        {{bucketsItemCtl.getResidentRatio(bucket) | mnTruncateTo3Digits}}%
      </span>
      <span ng-show="bucket.isMemcached || bucket.isEphemeral">
        &#8212;
      </span>
    </span>
    <span class="cbui-table-cell">
      {{'round' | mnMath:bucket.basicStats.opsPerSec}}
    </span>
    <span class="cbui-table-cell flex-grow-1-5 resp-hide-sml">
      {{bucket.basicStats.memUsed | mnFormatQuantity}} /
      {{bucket.quota.ram | mnFormatQuantity}}
    </span>
    <span class="cbui-table-cell resp-hide-med">
      <span ng-show="bucket.isMembase">
        {{bucket.basicStats.diskUsed | mnFormatQuantity}}
      </span>
      <span ng-show="!bucket.isMembase">
        &#8212;
      </span>
    </span>
    <span class="cbui-table-cell flex-grow-1-5 wrap text-right resp-hide-xsml">
      <span ng-if="!bucket.isMemcached">
        <a
           ng-click="$event.stopPropagation()"
           class="nowrap"
           style="margin-right: -3px;"
           ng-show="rbac.cluster.bucket[bucket.name].data.docs.read"
           ui-sref="app.admin.doc_editor({bucket: bucket.name, statsHostname: 'all'})">
          Documents</a>
      </span>
      <a
         ng-click="$event.stopPropagation()"
         title="Go to statistics for {{ bucket.name }}"
         ui-sref="app.admin.statistics_overview({overviewBucket: bucket.name, overviewHostname: 'all', overviewZoom: 'minute'})"
         ng-show="rbac.cluster.bucket[bucket.name].stats.read && rbac.cluster.stats.read"
         class="margin-left-half nowrap">
        Statistics
      </a>

    </span>
  </div>

  <div
     class="cbui-tablerow"
     ng-show="bucketsItemCtl.bucketStatus.statusClass !== 'healthy'">
    <span
       class="error"
       ng-repeat="(nodeStatuses, count) in bucketsItemCtl.bucketStatus.nodesByStatuses">
      {{count + ' node' + overviewCtl.getEndings(count) + ' ' + nodeStatuses}}
    </span>
  </div>

  <div
     class="row row-min items-bottom"
     ng-if="bucketsItemCtl.getWarmUpProgress(bucket, adminCtl.tasks) !== false && rbac.cluster.tasks.read">
    <div
       class="task-progress-row">
      <div
         ng-style="{width: (bucketsItemCtl.getWarmUpProgress(bucket ,adminCtl.tasks) | mnTruncateTo3Digits) + '%'}"
         class="task-progress-row-meter"></div>
    </div>
    <div class="task-progress-row-text flex-right">
      {{bucketsItemCtl.getWarmUpProgress(bucket, adminCtl.tasks) | mnTruncateTo3Digits}}% complete warmup
    </div>
  </div>
  <div
     class="cbui-tablerow-expanded"
     ng-if="bucketsListCtl.isDetailsOpened(bucket.name) && rbac.cluster.bucket[bucket.name].settings.read"
     ui-view="details"></div>
</section>
