<mn-element-cargo depot="alerts">
  <div
     class="alert alert-warning"
     ng-show="documentsControlCtl.state.docs.errors[0]">
    <p>Error: {{documentsControlCtl.state.docs.errors[0].reason}} ({{documentsControlCtl.state.docs.errors[0].error }})</p>
  </div>
  <div
     ng-if="documentsControlCtl.state.status"
     ng-switch="documentsControlCtl.state.status"
     class="interim alert alert-warning" >
    <p ng-switch-when="_404">Bucket name should be specified.</p>
    <p ng-switch-when="404">Error 404: This bucket does not exist.</p>
    <p ng-switch-when="403">Error 403: You do not have the necessary permissions to see documents in this bucket.</p>
    <p ng-switch-default>Unexpected Server Error</p>
  </div>
</mn-element-cargo>

<div mn-spinner="!documentsControlCtl.state">
  <ui-view></ui-view>

  <div class="row" ng-if="!buckets.details.byName[documentsCtl.currentBucketName].isEphemeral">
    <div class="row">
      <ui-select
         ng-model="documentsControlCtl.state.pageLimits.selected"
         theme="selectize"
         ng-disabled="documentsControlCtl.isEmptyState()"
         on-select="documentsControlCtl.onSelectPageLimits($item)"
         class="cbui-select narrow">
        <ui-select-match
           class="ui-select-match">{{$select.selected}}</ui-select-match>
        <ui-select-choices
           class="ui-select-choices"
           repeat="name in documentsControlCtl.state.pageLimits | filter: $select.search">
          <span
             class="select-item ellipsis"
             ng-bind-html="name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <span class="text-smaller margin-left-half">per page</span>
    </div>
    <p class="inline middle text-smaller">
      &lt; page {{documentsControlCtl.state.pageNumber + 1}} &gt;
    </p>
    <div>
      <button
         class="icon fa-angle-left outline"
         ng-disabled="documentsControlCtl.isPrevDisabled()"
         ng-click="documentsControlCtl.prevPage()"></button>
      <button
         class="icon fa-angle-right outline"
         ng-disabled="documentsControlCtl.isNextDisabled()"
         ng-click="documentsControlCtl.nextPage()"></button>
    </div>
  </div>
</div>
