<mn-element-cargo depot="alerts">
  <div
     class="alert alert-warning"
     ng-show="groupsCtl.serverGroupsWarnig">
    <p>Changes must be saved before deleting the group.</p>
  </div>
  <div
     class="alert alert-warning"
     ng-show="groupsCtl.revisionMismatch">
    <p>Revision mismatch. Please sync the state of groups before trying to apply changes.</p>
    <a ng-click="groupsCtl.reloadState('app.admin.servers.list.groups')">Sync Groups</a>
  </div>
</mn-element-cargo>
<mn-element-cargo depot="actions">
  <div class="header-controls resp-sml">
    <span ng-if="adminCtl.$state.current.data.child">
      <a
        ng-if="adminCtl.$state.current.data.child"
        ui-state="adminCtl.$state.current.data.child"
        ui-state-params="('merge' | lodash:{}:adminCtl.$state.params:adminCtl.$state.current.data.childParams)">
        <span class="icon fa-arrow-left"></span> BACK
      </a>
    </span>
    <a
       ng-disabled="groupsCtl.disableAddGroupBtn || poolDefault.rebalancing || !rbac.cluster.server_groups.write"
       ng-click="groupsCtl.createGroup()">
      ADD GROUP
    </a>
  </div>
</mn-element-cargo>

<div class="row flex-right margin-bottom-half">
  <a
     class="margin-right-1"
     ng-show="!groupsCtl.disableApplyChangesBtn"
     ng-click="groupsCtl.reloadState('app.admin.servers.list.groups')"
     >Reset</a>
  <span>
    <button
       ng-disabled="groupsCtl.disableApplyChangesBtn || poolDefault.rebalancing || !rbac.cluster.server_groups.write"
       ng-click="groupsCtl.applyChanges()"
       >Apply Changes</button>
  </span>
</div>

<div mn-spinner="viewLoading" class="margin-bottom-2">
  <div
     ng-repeat="group in groupsCtl.state.groups | orderBy:'name'"
     class="margin-bottom-1">
    <section class="row flex-left">
      <h4 class="ellipsis">{{group.name}}&nbsp;
        <a
           class="text-smaller"
           ng-show="rbac.cluster.server_groups.write"
           ng-click="groupsCtl.createGroup(group)"
           >edit name</a>
      </h4>
    </section>

<!-- group list of servers ********************** -->
    <section ng-repeat="server in group.nodes">
      <span
       class="cbui-tablerow"
       ng-class="['dynamic_' + server.status, 'dynamic_' + server.clusterMembership]">
        <span class="cbui-tablerow-title ellipsis flex-grow-1-5 row flex-left">
          {{server.hostname | mnStripPortHTML:group.nodes}}
          <span
             ng-repeat="service in server.services | mnFormatServicesArray | orderBy"
             class="label neutral nocaps"
             ng-class="{'flex-order-1' : service == 'Data',
                        'flex-order-2' : service == 'Index',
                        'flex-order-3' : service == 'Query',
                        'flex-order-4' : service == 'Search',
                        'flex-order-5' : service == 'Analytics',
                        'flex-order-6' : service == 'Eventing'}">
            {{service}}
          </span>
        </span>
        <span class="cbui-table-cell wrap text-right">
          <div uib-dropdown ng-show="!server.toGroupPending && groupsCtl.state.groups.length > 1">
            <div uib-dropdown-toggle class="menu-toggle">move to <span class="icon fa-caret-down"></span></div>
            <div uib-dropdown-menu class="dropdown-menu-select-like">
              <a
                 ng-show="groupNew.name !== group.name"
                 ng-repeat="groupNew in groupsCtl.state.groups | orderBy:'name'"
                 ng-click="groupsCtl.changeNodeGroup(group.name, groupNew.name, server)">{{groupNew.name}}</a>
            </div>
          </div>
          <small ng-show="server.toGroupPending" class="row success">
            <span>
              <span class="icon fa-check"></span>
              pending move to {{server.toGroupPending}}
            </span>
            <a
               class="indent-1"
               ng-click="groupsCtl.changeNodeGroup(server.toGroupPending, group.name, server)">
              cancel move
            </a>
          </small>
        </span>
      </span>
    </section>

<!-- zero content *********************** -->
    <div ng-show="!group.nodes.length" class="zero-content">
      This group is empty.
      <a
         ng-click="groupsCtl.deleteGroup(group)"
         class="indent-1">
        delete group
      </a>
    </div>
  </div>
</div>
