<div class="dialog-small">
  <div class="panel-header">
    <h2 ng-show="groupsGroupDialogCtl.isEditMode">Edit Group</h2>
    <h2 ng-show="!groupsGroupDialogCtl.isEditMode">Add New Group</h2>
  </div>
  <form
     ng-submit="groupsGroupDialogCtl.onSubmit()"
     mn-spinner="groupsGroupDialogCtl.viewLoading"
     class="forms">
    <div class="panel-content">
      <div class="formrow">
        <label for="new_group_filed">Group Name</label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           name="group"
           ng-model="groupsGroupDialogCtl.groupName"
           id="new_group_filed"
           autofocus>
        <div
           class="error error-form"
           ng-show="groupsGroupDialogCtl.errors.name">
          name - {{groupsGroupDialogCtl.errors.name}}
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a  ng-click="$dismiss()">Cancel</a>
      <button type="submit">{{ groupsGroupDialogCtl.isEditMode ? 'Rename' : 'Add'}} Group</button>
    </div>
  </form>
</div>
