<div mn-spinner="logsCollectInfoCtl.viewLoading || !logsCollectInfoCtl.state.nodes" min-height="300px" class="max-width-8 margin-top-half padding-left-1">
  <div
     class="error error-field"
     ng-show="logsCollectInfoCtl.errors._">{{logsCollectInfoCtl.errors._}}
   </div>

  <h4 class="margin-bottom-1">Collect Logs & Diagnostic Information</h4>
  <form
     ng-submit="logsCollectInfoCtl.submit()"
     name="collectForm"
     class="forms">

    <div
       class="error error-field"
       ng-show="logsCollectInfoCtl.errors.nodes">{{logsCollectInfoCtl.errors.nodes}}</div>
    <div
       mn-selectable-nodes-list=""
       class="formrow"
       nodes="logsCollectInfoCtl.state.nodes"
       mn-selected-nodes-holder="logsCollectInfoCtl.mnSelectedNodesHolder"
       mn-groups="logsCollectInfoCtl.getGroupsByHostname"
       mn-is-node-disabled="logsCollectInfoCtl.isNodeDisabled(node)">
    </div>

    <div class="formrow"
         ng-if="adminCtl.poolDefault.compat.atLeast55 && adminCtl.poolDefault.isEnterprise">
      <label>Redact Logs</label>
      <input
         type="radio"
         value="none"
         id="redaction_none"
         ng-model="logsCollectInfoCtl.collect.logRedactionLevel">
      <label for="redaction_none" class="checkbox">No Redaction</label>

      <input
         type="radio"
         value="partial"
         id="redaction_partial"
         ng-model="logsCollectInfoCtl.collect.logRedactionLevel">
      <label for="redaction_partial" class="checkbox margin-right-zero">Partial Redaction</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="In the log file created through this process, user data such as key/value pairs and usernames will be redacted.
         Metadata and system data will not be redacted. The default redaction configuration in Settings remains unchanged by your choice here."
         tooltip-placement="auto top">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="content-box" ng-if="logsCollectInfoCtl.collect.logRedactionLevel == 'partial'">
        <p>Couchbase Server will collect and save a redacted log file at the location you specify, but also save an unredacted version which could be useful for further troubleshooting.</p>
        <p>If you use the "Upload to Couchbase" feature below, ONLY the redacted log will be uploaded.</p>
      </div>
    </div>

    <div class="formrow fix-width-5">
      <input
         id="for_custom_tmpdir"
         ng-model="logsCollectInfoCtl.collect.enableTmpDir"
         name="tmpdir"
         value="true"
         type="checkbox">
      <label for="for_custom_tmpdir" class="margin-right-zero">Specify custom temp directory</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="Logs and diagnostics will be combined in this directory during the collection process.
         The process takes a significant amount of time and the subsequent file tends to be large, so a temporary
         directory can be a good idea in some production environments."
         tooltip-placement="auto top">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div ng-if="logsCollectInfoCtl.collect.enableTmpDir">
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           ng-model="logsCollectInfoCtl.collect.tmpDir">
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.errors.tmpDir">{{logsCollectInfoCtl.errors.tmpDir}}</div>
      </div>
    </div>

    <div class="formrow fix-width-5">
      <input
         id="for_custom_logdir"
         ng-model="logsCollectInfoCtl.collect.enableLogDir"
         name="logdir"
         value="true"
         type="checkbox">
      <label for="for_custom_logdir" class="margin-right-zero">Specify custom destination directory</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="You can specify any valid directory or just leave blank to store in the default Couchbase directory."
         tooltip-placement="auto top">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div ng-if="logsCollectInfoCtl.collect.enableLogDir">
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           ng-model="logsCollectInfoCtl.collect.logDir">
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.errors.logDir">{{logsCollectInfoCtl.errors.logDir}}</div>
      </div>
    </div>

    <div class="formrow checkbox-list">
      <input
         id="js_upload_to_cb"
         ng-model="logsCollectInfoCtl.collect.upload"
         name="upload"
         value="true"
         type="checkbox">
      <label for="js_upload_to_cb">Upload to Couchbase</label>
      <div
         class="error error-field"
         ng-show="logsCollectInfoCtl.errors.upload">{{logsCollectInfoCtl.errors.upload}}</div>
    </div>

    <div ng-show="logsCollectInfoCtl.collect.upload">
      <div class="formrow fix-width-5">
        <label for="uploadHost_input">Upload to Host</label>
        <input
           id="uploadHost_input"
           ng-model="logsCollectInfoCtl.collect.uploadHost"
           name="uploadHost"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           ng-disabled="!logsCollectInfoCtl.collect.upload"
           required>
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.errors.uploadHost">{{logsCollectInfoCtl.errors.uploadHost}}</div>
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.collect.upload && collectForm.uploadHost.$error.required">upload host field must be given if upload is selected</div>
      </div>

      <div class="formrow fix-width-5">
        <label>Customer Name</label>
        <input
           id="customer_input"
           name="customer"
           ng-model="logsCollectInfoCtl.collect.customer"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           ng-disabled="!logsCollectInfoCtl.collect.upload"
           required>
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.errors.customer">{{logsCollectInfoCtl.errors.customer}}</div>
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.collect.upload && collectForm.customer.$error.required">A customer name must be given if upload is selected</div>
      </div>

      <div class="formrow fix-width-5">
        <label>Upload Proxy <small>optional</small></label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           ng-model="logsCollectInfoCtl.collect.uploadProxy">
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.errors.uploadProxy">{{logsCollectInfoCtl.errors.uploadProxy}}</div>
      </div>

      <div class="formrow fix-width-5">
        <label>Ticket Number <small>optional</small></label>
        <input
           id="ticket_input"
           name="ticket"
           ng-model="logsCollectInfoCtl.collect.ticket"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           ng-disabled="!logsCollectInfoCtl.collect.upload">
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.errors.ticket">{{logsCollectInfoCtl.errors.ticket}}</div>
      </div>
    </div>

    <footer class="footer-save">
      <button
         type="submit"
         ng-disabled="logsCollectInfoCtl.collect.from === '' && !('some' | lodash:('values' | lodash:logsCollectInfoCtl.collect.nodes))"
         class="margin-right-2">
        Start Collecting
      </button>
      <a class="text-medium" ng-click="logsCollectInfoCtl.showClusterInfoDialog()">Get Cluster Summary</a>
    </footer>

  </form>
</div>
