<div class="dialog-med">
  <div class="panel-header">
    <h2>Change Password - {{::resetPasswordDialogCtl.user.name}}</h2>
  </div>
  <form
     novalidate
     class="forms"
     name="resetPasswordDialogCtl.form"
     ng-submit="resetPasswordDialogCtl.submit()">
    <div class="panel-content">
      <div
         class="error error-form">
        <div ng-show="resetPasswordDialogCtl.form.$submitted && resetPasswordDialogCtl.form.passwordNew.$error.mnEqual">
          'Password' and 'Confirm Password' do not match
        </div>
        <div ng-if="('isString' | lodash:resetPasswordDialogCtl.errors)">
          {{resetPasswordDialogCtl.errors}}</div>
        <div ng-if="('isObject' | lodash:resetPasswordDialogCtl.errors)">
          <div ng-repeat="(key, value) in resetPasswordDialogCtl.errors">{{value}}</div>
        </div>
      </div>
      <div class="formrow">
        <label for="password_current">Current Password</label>
        <input
           type="password"
           id="password_current"
           ng-model="resetPasswordDialogCtl.user.currentPassword"
           autocorrect="off"
           spellcheck="false"
           mn-autocomplete-off
           autocapitalize="off">
      </div>
      <div class="formrow">
        <label for="password_new">New Password</label>
        <input
           type="password"
           id="password_new"
           name="passwordNew"
           ng-model="resetPasswordDialogCtl.user.password"
           autocorrect="off"
           spellcheck="false"
           mn-equal="{{resetPasswordDialogCtl.user.confirmPassword}}"
           mn-autocomplete-off
           autocapitalize="off">
      </div>
      <div class="formrow">
        <label for="password_confirm">Confirm Password</label>
        <input
           type="password"
           id="password_confirm"
           ng-model="resetPasswordDialogCtl.user.confirmPassword"
           autocorrect="off"
           spellcheck="false"
           mn-autocomplete-off
           autocapitalize="off">
      </div>
    </div>
    <div class="panel-footer">
      <a  ng-click="$dismiss()">Cancel</a>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
