<form ng-submit="redactionCtl.onSubmit()">
  <div class="formrow margin-bottom-2">
    <label>Log Redaction <small>default setting for collect info logs</small></label>
    <input
       type="radio"
       value="none"
       id="redaction_none"
       ng-model="redactionCtl.logRedactionSettings.logRedactionLevel"
       ng-disabled="!rbac.cluster.admin.security.write">
    <label for="redaction_none" class="checkbox">
      None
    </label>
    <br>
    <input
       type="radio"
       value="partial"
       id="redaction_partial"
       ng-model="redactionCtl.logRedactionSettings.logRedactionLevel"
       ng-disabled="!rbac.cluster.admin.security.write">
    <label for="redaction_partial" class="checkbox margin-right-zero">
      Partial Redaction
    </label>
    <span
       class="fa-stack icon-info"
       uib-tooltip="User data such as key/value pairs and usernames will be redacted. Metadata and system data will not be redacted."
       tooltip-placement="auto top">
      <span class="icon fa-circle-thin fa-stack-2x"></span>
      <span class="icon fa-info fa-stack-1x"></span>
    </span>
  </div>

  <div class="margin-top-2">
    <button type="submit"
            ng-disabled="!rbac.cluster.admin.security.write">
      Save
    </button>
  </div>
</form>
