<div class="dialog-lg">
  <div class="panel-header">
    <h2 class="ellipsis">
      <span ng-if="!rolesGroupsAddDialogCtl.isEditingMode">
        Add New Group
      </span>
      <span ng-if="rolesGroupsAddDialogCtl.isEditingMode">
        Edit Group {{rolesGroupsAddDialogCtl.rolesGroupID}}
      </span>
    </h2>
  </div>
  <form
     name="rolesGroupsAddDialogCtl.form"
     novalidate
     ng-submit="rolesGroupsAddDialogCtl.save()"
     mn-spinner="rolesGroupsAddDialogCtl.viewLoading">
    <div class="panel-content forms row resp-sml items-top" style="padding-bottom: .5rem;">
      <div class="column width-5">
        <div
           class="error"
           ng-show="rolesGroupsAddDialogCtl.errors._">
          {{rolesGroupsAddDialogCtl.errors._}}
        </div>
        <div class="formrow">
          <label for="group_name">Group Name</label>
          <input
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             mn-autocomplete-off="enforce"
             ng-disabled="rolesGroupsAddDialogCtl.isEditingMode"
             id="group_name"
             ng-model="rolesGroupsAddDialogCtl.rolesGroup.id">
          <div
             class="error"
             ng-show="rolesGroupsAddDialogCtl.errors.name">
            {{rolesGroupsAddDialogCtl.errors.name}}
          </div>
        </div>
        <div class="formrow">
          <label for="description">Description</label>
          <textarea
             rows="4"
             id="description"
             autocorrect="off"
             autocompleterg="off"
             spellcheck="false"
             ng-model="rolesGroupsAddDialogCtl.rolesGroup.description"
             placeholder="">
          </textarea>
          <div
             class="error"
             ng-show="rolesGroupsAddDialogCtl.errors.description">
            {{rolesGroupsAddDialogCtl.errors.description}}
          </div>
        </div>
        <div class="formrow">
          <label for="ldap_group_ref">Map to LDAP Group</label>
          <textarea
             rows="4"
             id="ldap_group_ref"
             autocorrect="off"
             autocompleterg="off"
             spellcheck="false"
             ng-model="rolesGroupsAddDialogCtl.rolesGroup.ldap_group_ref">
          </textarea>
          <div
             class="error"
             ng-show="rolesGroupsAddDialogCtl.errors.ldap_group_ref">
            {{rolesGroupsAddDialogCtl.errors.ldap_group_ref}}
          </div>
        </div>
      </div>

      <div class="column width-7">
        <label>Roles</label>
        <fieldset class="select-user-roles hide-track show-scrollbar">
          <div style="width: 320px;">
            <mn-user-roles-list
               roles-to-enable="rolesGroupsAddDialogCtl.rolesGroup.roles"
               selected-roles="rolesGroupsAddDialogCtl.selectedRoles"></mn-user-roles-list>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="panel-footer scroll-shadow">
      <a ng-click="$dismiss()">Cancel</a>
      <button type="submit">
        Save
      </button>
    </div>
  </form>
</div>
