<mn-element-cargo depot="actions">
  <div class="header-controls">
    <a ng-show="rbac.cluster.admin.security.write && poolDefault.isEnterprise &&
                poolDefault.compat.atLeast65"
       ng-click="rolesCtl.addLDAP()">
      LDAP
    </a>
    <a ng-show="rbac.cluster.admin.security.write && poolDefault.isEnterprise &&
                poolDefault.compat.atLeast65"
       ng-click="rolesCtl.addRolesGroup()">
      ADD GROUP
    </a>
    <a ng-show="rbac.cluster.admin.security.write"
       ng-click="rolesCtl.addUser()">
      ADD USER
    </a>
  </div>
</mn-element-cargo>

<ui-view></ui-view>
