<mn-element-cargo depot="actions">
  <div class="header-controls resp-sml">
    <a
       ui-sref="app.admin.servers.list.groups"
       ng-show="poolDefault.isGroupsAvailable && !poolDefault.rebalancing && poolDefault.isEnterprise && rbac.cluster.server_groups.read"
       class="resp-hide-sml">
      GROUPS
    </a>
    <a
       ng-show="!poolDefault.rebalancing && rbac.cluster.pools.write && rbac.cluster.tasks.read"
       ng-click="serversCtl.multipleFailoverDialog()"
       ng-disabled="adminCtl.tasks.inRecoveryMode || serversCtl.nodes.reallyActive.length === 1"
       class="resp-hide-sml">
      FAILOVER
    </a>
    <a
       ng-show="poolDefault && !poolDefault.rebalancing && rbac.cluster.pools.write"
       ng-click="serversCtl.addServer()"
       class="resp-hide-sml">
      ADD SERVER
    </a>
  </div>
</mn-element-cargo>
<div
   mn-spinner="!serversCtl.nodes || (rbac.cluster.tasks.read && !adminCtl.tasks) || (rbac.cluster.server_groups.read && !serversCtl.getGroupsByHostname)"
   min-height="300px">
  <div class="row">
    <div
       class="row filter-server"
       mn-placeholder="filter servers..."
       mn-search="serversCtl.filterField"
       mn-hide-button="true">
    </div>
    <div ng-show="rbac.cluster.tasks.read" class="server-actions row flex-right flex-wrap">
      <div
         class="row flex-right"
         ng-show="adminCtl.autoFailoverSettings.count > 0 && rbac.cluster.settings.read">
        <button
           class="outline"
           ng-show="rbac.cluster.settings.write"
           ng-click="adminCtl.resetAutoFailOverCount()">Reset Auto-Failover Quota</button>
      </div>
      <button
         ng-show="!poolDefault.rebalancing  && rbac.cluster.pools.write"
         ng-click="serversCtl.postRebalance()"
         ng-disabled="adminCtl.tasks.inRecoveryMode || (!serversCtl.nodes.pending.length && poolDefault.balanced) || serversCtl.nodes.unhealthyActive || adminCtl.tasks.isLoadingSamples || adminCtl.tasks.isOrphanBucketTask"
         class="orange resp-sml margin-left-1">Rebalance</button>
      <button
         class="orange"
         ng-show="poolDefault.rebalancing && rbac.cluster.pools.write"
         ng-click="serversCtl.postStopRebalance()">
        <span ng-show="adminCtl.tasks.isSubtypeGraceful">Stop Failover</span>
        <span ng-show="!adminCtl.tasks.isSubtypeGraceful">Stop Rebalance</span>
      </button>
      <button
         ng-click="serversCtl.onStopRecovery()"
         ng-show="adminCtl.tasks.inRecoveryMode && rbac.cluster.bucket[adminCtl.tasks.tasksRecovery.bucket].recovery.write"
         class="orange">Stop Recovery</button>
    </div>
  </div>
  <div ui-view></div>
</div>
