<div class="dialog-small">
  <div class="panel-header">
    <h2>New Group</h2>
  </div>
  <form
     ng-submit="groupDialogCtl.submit()"
     class="forms">
    <div class="panel-content">
      <div class="formrow">
        <label for="for-group-name">
          Group Name</label>
        <input
           type="text"
           mn-focus=""
           id="for-group-name"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           ng-model="groupDialogCtl.group.name">
      </div>
      <!--
      <div>
        <label for="for-group-description">
          Group Description</label>
        <input
           type="text"
           id="for-group-description"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           ng-model="groupDialogCtl.group.desc">
      </div>
      -->
    </div>
    <div class="panel-footer">
      <a ng-click="$dismiss()">Cancel</a>
      <button
         type="submit">
        Save
      </button>
    </div>
  </form>
</div>
