<div class="dialog-med">
  <div class="panel-header">
    <h2>Confirm Failover - {{serversFailOverDialogCtl.node.hostname}}</h2>
  </div>
  <div mn-spinner="serversFailOverDialogCtl.viewLoading">
    <div class="panel-content forms">
      <div ng-show="!serversFailOverDialogCtl.status.down && !serversFailOverDialogCtl.status.dataless">
        <label>Failover Options</label>
        <div class="formrow checkbox-list">
          <input
             id="for_graceful_failover"
             type="radio"
             name="failOver"
             ng-model="serversFailOverDialogCtl.status.failOver"
             value="startGracefulFailover"
             ng-disabled="!serversFailOverDialogCtl.status.gracefulFailoverPossible">
          <label for="for_graceful_failover">Graceful Failover (default)</label>
          <br>
          <input
             id="for_hard_failover"
             type="radio"
             name="failOver"
             ng-model="serversFailOverDialogCtl.status.failOver"
             value="startFailover">
          <label for="for_hard_failover">Hard Failover</label>
        </div>

        <div
           class="error error-form"
           ng-if="!serversFailOverDialogCtl.status.gracefulFailoverPossible">
          <strong>Attention:</strong> The graceful failover option is not available
          either because the node is unreachable or replica vbuckets cannot be activated gracefully.
        </div>

        <div ng-show="serversFailOverDialogCtl.status.backfill && (serversFailOverDialogCtl.status.failOver === 'startFailover')">
          <div class="error error-form">
            <strong>Attention:</strong> A significant amount of data stored on this node
            does not yet have replica (backup) copies! Failing over the node now will
            irrecoverably lose that data when the incomplete replica is
            activated and this node is removed from the cluster. It is
            recommended to use "Remove" and rebalance to
            safely remove the node without any data loss.
          </div>
          <input
             id="for_failover_confirm"
             type="checkbox"
             name="confirmation"
             ng-model="serversFailOverDialogCtl.status.confirmation">
          <label for="for_failover_confirm">Confirm failover</label>
        </div>
        <div
           class="error error-form"
           ng-show="!serversFailOverDialogCtl.status.backfill && (serversFailOverDialogCtl.status.failOver === 'startFailover')">
          <strong>Warning:</strong> Failing over the node will remove it from the cluster and activate a replica.
          Operations currently in flight and not yet replicated, will be lost. Rebalancing will be required
          to add the node back into the cluster. Consider using "Remove" and rebalancing instead of Failover,
          to avoid any loss of data.
        </div>
      </div>

      <div ng-show="serversFailOverDialogCtl.status.down && !serversFailOverDialogCtl.status.dataless">
        <div
           class="error error-form"
           ng-show="serversFailOverDialogCtl.status.backfill">
          <strong>Attention:</strong> There are not replica (backup) copies of all data
          on this node! Failing over the node now will irrecoverably
          lose that data when the incomplete replica is activated and
          this node is removed from the cluster. If the node might
          come back online, it is recommended to wait.
          Check this box if you want to failover the node, despite the resulting data loss.
        </div>
        <input
           id="for_failover_confirm_1"
           type="checkbox"
           name="confirmation"
           ng-model="serversFailOverDialogCtl.status.confirmation">
        <label for="for_failover_confirm_1">Confirm failover</label>
        <div
           class="error error-form"
           ng-show="!serversFailOverDialogCtl.status.backfill">
          <strong>Warning:</strong> Failing over the node will remove it from the cluster and activate a replica.
          Operations not replicated before the node became unresponsive, will be lost.
          Rebalancing will be required to add the node back into the cluster.
        </div>
      </div>
      <div
         class="error error-form"
         ng-if="serversFailOverDialogCtl.status.dataless">
        <strong>Note:</strong> Failing over this node (which has no data) will remove it from the cluster.
        Rebalancing will be required to add the node back into the cluster.
      </div>
    </div>
    <div class="panel-footer">
      <a ng-click="$dismiss()">Cancel</a>
      <button
         ng-click="serversFailOverDialogCtl.onSubmit()"
         ng-disabled="serversFailOverDialogCtl.isFailOverBtnDisabled()">
        Failover Node
      </button>
    </div>
  </div>
</div>
