<div class="dialog-med">
  <div class="panel-header">
    <h2>Confirm Rebalance Stop</h2>
  </div>
  <div mn-spinner="viewLoading">
    <div class="panel-content">
      <p class="error">
        Warning: Stopping rebalance is unsafe at this
        moment since cluster may be in a partitioned state. Continue only if
        you're perfectly sure that this is not the case.
      </p>
    </div>
    <div class="panel-footer">
      <a  ng-click="$dismiss()">Cancel</a>
      <button
         type="submit"
         ng-click="$close()">Stop Rebalance</button>
    </div>
  </div>
</div>
