<div class="dialog-small">
  <h2 class="ellipsis panel-header">
    Reset Password: {{::userRolesResetPasswordDialogCtl.userID}}
  </h2>
  <form
     name="userRolesResetPasswordDialogCtl.form"
     novalidate
     ng-submit="userRolesResetPasswordDialogCtl.save()"
     mn-spinner="userRolesResetPasswordDialogCtl.viewLoading">
    <div class="panel-content forms">
      <div
         class="error error-form"
         ng-show="userRolesResetPasswordDialogCtl.errors"
         ng-repeat="error in userRolesResetPasswordDialogCtl.errors">
        {{error}}
      </div>
      <div
         class="error error-form"
         ng-show="userRolesResetPasswordDialogCtl.form.$submitted && userRolesResetPasswordDialogCtl.form.passwordNew.$error.mnEqual">
        'New Password' and 'Confirm Password' do not match
      </div>
      <div class="formrow">
        <label for="password_inp">New Password:</label>
        <input
           type="password"
           name="passwordNew"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           id="password_inp"
           mn-equal="{{userRolesResetPasswordDialogCtl.user.confirmPassword}}"
           ng-model="userRolesResetPasswordDialogCtl.user.password">
      </div>
      <div class="formrow">
        <label for="password_confirm">Confirm Password</label>
        <input
           type="password"
           id="password_confirm"
           ng-model="userRolesResetPasswordDialogCtl.user.confirmPassword"
           autocorrect="off"
           spellcheck="false"
           mn-autocomplete-off
           autocapitalize="off">
      </div>
    </div>
    <div class="panel-footer">
      <a ng-click="$dismiss()">Cancel</a>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
