<div
   mn-spinner="!userRolesCtl.state || userRolesCtl.viewLoading"
   min-height="300px"
   class="margin-top-neg-half margin-left-neg-1">
  <div class="row resp-sml margin-bottom-half">
    <div
       class="row"
       mn-placeholder="filter users..."
       mn-hide-button="true"
       mn-disabled="!userRolesCtl.filterField && !userRolesCtl.state.users.length"
       mn-search="userRolesCtl.filterField">
    </div>
    <span class="row">
      <div
         class="users-auth-check margin-right-1"
         ng-if="userRolesCtl.saslauthdAuth">
        <span
           class="icon margin-right"
           ng-class="userRolesCtl.saslauthdAuth.enabled ? 'fa-check success' : 'fa-ban grayblack-3'">
        </span>
        <p
           uib-tooltip-html="'Use the CLI to change the state of saslauthd authentication.'"
           tooltip-placement="auto right">
          saslauthd authentication is
          <span ng-show="userRolesCtl.saslauthdAuth"><span ng-show="!userRolesCtl.saslauthdAuth.enabled">not</span> enabled</span>
        </p>
      </div>
      <div class="users-auth-check" ng-show="poolDefault.isEnterprise && poolDefault.compat.atLeast65">
        <span
           class="icon margin-right"
           ng-class="userRolesCtl.ldapSettings.data.authenticationEnabled ? 'fa-check success' : 'fa-ban grayblack-3'">
        </span>
        <p>
          LDAP is {{!userRolesCtl.ldapSettings.data.authenticationEnabled ? 'not': ''}} enabled
        </p>
      </div>
    </span>
    <span class="pills nowrap">
      <a
         ui-sref="app.admin.security.roles.user"
         ui-sref-active="selected"
         ng-if="poolDefault.isEnterprise">Users</a>
      <a
         ui-sref="app.admin.security.roles.groups"
         ui-sref-active="selected"
         ng-if="poolDefault.isEnterprise && poolDefault.compat.atLeast65">Groups</a>
    </span>
  </div>
  <div class="cbui-table" ng-if="userRolesCtl.state.users.length">
    <div class="cbui-table-header padding-left">
      <span class="cbui-table-cell">
        <span
          class="sorter"
          ng-click="userRolesCtl.sortByChanged('id')"
          ng-class="{'dynamic-active': userRolesCtl.isOrderBy('id'),
                    'dynamic-inverted': userRolesCtl.isOrderBy('id')
                    && userRolesCtl.isDesc()}">username</span>
      </span>
      <span class="cbui-table-cell resp-hide-sml">
        <span class="sorter"
              ng-click="userRolesCtl.sortByChanged('name')"
              ng-class="{'dynamic-active': userRolesCtl.isOrderBy('name'),
                        'dynamic-inverted': userRolesCtl.isOrderBy('name')
                        && userRolesCtl.isDesc()}">full name</span>
      </span>
      <span class="cbui-table-cell"
            ng-if="poolDefault.isEnterprise && poolDefault.compat.atLeast65">
        <span>groups</span>
      </span>
      <span class="cbui-table-cell flex-grow-3">
        <span>roles</span>
      </span>
      <span class="cbui-table-cell resp-hide-xsml">
        <span class="sorter"
              ng-click="userRolesCtl.sortByChanged('domain')"
              ng-class="{'dynamic-active': userRolesCtl.isOrderBy('domain'),
                        'dynamic-inverted': userRolesCtl.isOrderBy('domain')
                        && userRolesCtl.isDesc()}">auth domain</span>
      </span>
      <span class="cbui-table-cell resp-hide-sml">
        <span class="sorter"
              ng-click="userRolesCtl.sortByChanged('password_change_timestamp')"
              ng-class="{'dynamic-active': userRolesCtl.isOrderBy('password_change_timestamp'),
                        'dynamic-inverted': userRolesCtl.isOrderBy('password_change_timestamp')
                        && userRolesCtl.isDesc()}">password set</span>
      </span>
    </div>
    <section
       class="has-hover"
       ng-if="userRolesCtl.state.users.length"
       ng-click="userRolesCtl.toggleDetails(user.id + user.domain)"
       ng-repeat="user in userRolesCtl.state.users track by (user.id + user.domain)">
      <div class="cbui-tablerow padding-left resp-sml">
        <span class="cbui-table-cell">
          {{user.id}}
          <span ng-show="user.passwordless" class="label lt-blue">no password</span>
        </span>
        <span class="cbui-table-cell resp-hide-sml">{{user.name}}</span>
        <span class="cbui-table-cell wrap"
              ng-if="poolDefault.isEnterprise && poolDefault.compat.atLeast65">
          {{userRolesCtl.parseGroupNames(user)}}
        </span>
        <span class="cbui-table-cell flex-grow-3 wrap">
          <span
              class="relative"
              ng-repeat="role in user.roles track by $index"
              tooltip-trigger="'mouseenter'"
              tooltip-append-to-body="true"
              tooltip-placement="auto top"
              ng-click="$event.stopPropagation()"
              uib-tooltip="{{userRolesCtl.rolesByRole[role.role + (role.bucket_name ? '[' + role.bucket_name + ']' : '')].desc}}">
            <span class="ellipsis">
              {{userRolesCtl.rolesByRole[role.role + (role.bucket_name ? '[' + role.bucket_name + ']' : '')].name}}<span ng-show="role.bucket_name"
              >[{{role.bucket_name}}]</span
              ><span ng-show="!$last && user.roles.length > 1">,</span>
            </span>
          </span>
        </span>
        <span class="cbui-table-cell resp-hide-xsml">
          {{user.domain === "local" ? "Couchbase" : "External"}}
        </span>
        <span class="cbui-table-cell resp-hide-sml" title="{{:: user.password_change_date}}">
          {{user.password_change_date | date:"d MMM, y"}}
        </span>
      </div>
      <div
         class="cbui-tablerow-expanded text-right"
         ng-if="userRolesCtl.isDetailsOpened(user.id + user.domain) && rbac.cluster.admin.security.write">
        <button
           class="outline"
           ng-click="userRolesCtl.deleteUser(user)">Delete</button>
        <button
           class="outline"
           ng-show="user.domain !== 'external' && user.domain !== 'saslauthd'"
           ng-click="userRolesCtl.resetUserPassword(user)">Reset Password</button>
        <button
           ng-click="userRolesCtl.editUser(user)">Edit</button>
      </div>
    </section>
  </div>
  <div
     class="row pagination"
     ng-if="userRolesCtl.state.users.length">
    <div class="simple-select">
      <select
         ng-change="userRolesCtl.pageSizeChanged()"
         ng-model="userRolesCtl.pageSize"
         ng-options="o as o for o in [10,20,50,100]"></select>
    </div>
    <span>
      <a
         ui-sref="(userRolesCtl.state.links.prev)"
         ng-class="{'disabled-link' : !userRolesCtl.state.links.prev}">
        &lt; prev
      </a>
      <span class="text-smaller grayblack-3">&nbsp; |</span>
      <a
         ui-sref="(userRolesCtl.state.links.next)"
         ng-class="{'disabled-link' : !userRolesCtl.state.links.next}">
        next &gt;
      </a>
    </span>
  </div>
  <div
     ng-show="!userRolesCtl.filterField && !userRolesCtl.state.users.length"
     class="zero-content margin-top-1">
    You don't have any users to display yet.
    <span ng-show="rbac.cluster.admin.security.write">
      Use ADD USER above to create one.
    </span>
  </div>
  <div ng-show="userRolesCtl.filterField && !userRolesCtl.state.users.length"
       class="zero-content text-left">no result</div>
</div>
