<div class="dialog-med">
  <div class="panel-header">
    <h2>Add Replication</h2>
  </div>
  <form
     ng-submit="xdcrCreateDialogCtl.createReplication()"
     mn-spinner="xdcrCreateDialogCtl.viewLoading"
     class="forms">
    <div class="panel-content">
      <div class="error error-form" ng-show="xdcrCreateDialogCtl.errors._">
        {{xdcrCreateDialogCtl.errors._}}
      </div>
      <div class="formrow">
        <label for="replication_from_bucket">Replicate From Bucket</label>
        <select
           ng-model="xdcrCreateDialogCtl.replication.fromBucket"
           ng-options="bucket.name as bucket.name for bucket in buckets.details.byType.membase.concat(buckets.details.byType.ephemeral);">
          <option value="" disabled selected style="display: none;">
            select a bucket
          </option>
        </select>
        <div
           class="error error-field"
           ng-show="xdcrCreateDialogCtl.errors.fromBucket">
          {{xdcrCreateDialogCtl.errors.fromBucket}}
        </div>
      </div>

      <div class="formrow">
        <label for="replication_to_cluster">Remote Cluster</label>
        <select
           ng-model="xdcrCreateDialogCtl.replication.toCluster"
           ng-options="reference.name as reference.name for reference in xdcrCtl.references.filtered">
          <option value="" disabled selected style="display: none;">
            Pick remote cluster
          </option>
        </select>
        <div
           class="error error-field"
           ng-show="xdcrCreateDialogCtl.errors.toCluster">
          {{xdcrCreateDialogCtl.errors.toCluster}}
        </div>
      </div>

      <div class="formrow">
        <label for="replication_to_bucket">Remote Bucket</label>
        <input
           id="replication_to_bucket"
           ng-model="xdcrCreateDialogCtl.replication.toBucket"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
        <div
           class="error error-field"
           ng-show="xdcrCreateDialogCtl.errors.toBucket">
          {{xdcrCreateDialogCtl.errors.toBucket}}
        </div>
      </div>

      <div class="formrow">
        <label for="replication_priority">Replication Priority</label>
        <select
           id="xdcr_advaced_settings_type"
           ng-model="xdcrCreateDialogCtl.replication.priority">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>

      <mn-xdcr-filter
         ng-if="poolDefault.isEnterprise"
         mn-errors="xdcrCreateDialogCtl.errors"
         mn-replication="xdcrCreateDialogCtl.replication"></mn-xdcr-filter>

      <div
         mn-xdcr-settings="xdcrCreateDialogCtl.replication"
         mn-pool-default="poolDefault"
         mn-pools="pools"></div>

    </div>

    <div class="panel-footer">
      <a ng-click="$dismiss()">Cancel</a>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
