<div class="indent-1 cursor-auto">
  <div class="width-12 text-right margin-top-half">
    <button
       ng-show="rbac.cluster.bucket[row.source].xdcr.write"
       ng-click="$event.stopPropagation();
                 xdcrItemDetailsCtl.deleteReplication(row)"
       class="outline">
      Delete
    </button>
    <button
       ng-show="rbac.cluster.bucket[row.source].xdcr.write && rbac.cluster.xdcr.settings.write"
       ng-click="$event.stopPropagation();
                 xdcrItemDetailsCtl.editReplication(row)"
       class="outline">
      Edit
    </button>
    <button
       ng-click="$event.stopPropagation();
                 xdcrItemDetailsCtl.status(row) !== 'spinner' &&
                 xdcrItemDetailsCtl.pausePlayReplication(row)"
       class="fix-width-2 replication">
      <span ng-show="xdcrItemDetailsCtl.status(row) == 'spinner'">Pausing</span>
      <span ng-show="xdcrItemDetailsCtl.status(row) == 'pause'">Pause</span>
      <span ng-show="xdcrItemDetailsCtl.status(row) == 'play'">Run</span>
      <div
         ng-show="row.status !== 'notRunning' && rbac.cluster.bucket[row.source].xdcr.execute"
         class="icon margin-left-half"
         ng-class="['fa-' + xdcrItemDetailsCtl.status(row)]"></div>
    </button>
  </div>
  <mn-detail-stats
     bucket="{{row.source}}"
     mn-title="XDCR Stats"
     item-id="{{row.id}}"
     service="xdcr"
     prefix="replications"
     ></mn-detail-stats>
</div>
