<div>
  <p
     class="disclosure margin-bottom-half"
     ng-class="{disclosed: xdcrSettingsCtl.showAdvancedSettings}"
     ng-click="xdcrSettingsCtl.showAdvancedSettings = !xdcrSettingsCtl.showAdvancedSettings">
    Advanced Replication Settings
  </p>
  <div ng-if="xdcrSettingsCtl.showAdvancedSettings" class="margin-left-1-5">
    <div class="formrow">
      <label for="xdcr_advaced_settings_type">XDCR Protocol</label>
      <select
         id="xdcr_advaced_settings_type"
         ng-disabled="xdcrSettingsCtl.mnIsEditing"
         ng-model="xdcrSettingsCtl.settings.type">
        <option value="capi">Version 1</option>
        <option value="xmem">Version 2</option>
      </select>
      <div
         class="error"
         ng-show="xdcrSettingsCtl.errors.type">
        {{xdcrSettingsCtl.errors.type}}
      </div>
    </div>

    <div class="formrow"
         ng-show="xdcrSettingsCtl.mnPools.isEnterprise &&
                  xdcrSettingsCtl.settings.type !== 'capi' &&
                  xdcrSettingsCtl.mnPoolDefault.compat.atLeast55">
      <label for="for-xdcr-compression">
        XDCR Compression Type
      </label>
      <select
         id="for-xdcr-compression"
         ng-model="xdcrSettingsCtl.settings.compressionType">
        <option value="Auto">Auto</option>
        <option value="None">None</option>
      </select>
      <div
         class="error error-field"
         ng-show="xdcrSettingsCtl.errors.compressionType">
        {{xdcrSettingsCtl.errors.compressionType}}
      </div>
    </div>

    <div
       class="formrow">
      <label for="source_nozzle_per_node">XDCR Source Nozzles Per Node</label>
      <input
         type="number"
         ng-model="xdcrSettingsCtl.settings.sourceNozzlePerNode">
      <div
         class="error"
         ng-show="xdcrSettingsCtl.errors.sourceNozzlePerNode">
        {{xdcrSettingsCtl.errors.sourceNozzlePerNode}}
      </div>
    </div>
    <div
       class="formrow">
      <label for="target_nozzle_per_node">XDCR Target Nozzles Per Node</label>
      <input
         type="number"
         ng-model="xdcrSettingsCtl.settings.targetNozzlePerNode">
      <div
         class="error"
         ng-show="xdcrSettingsCtl.errors.targetNozzlePerNode">
        {{xdcrSettingsCtl.errors.targetNozzlePerNode}}
      </div>
    </div>
    <div class="formrow">
      <label for="checkpoint_interval">XDCR Checkpoint Interval</label>
      <input
         type="number"
         ng-model="xdcrSettingsCtl.settings.checkpointInterval">
      <div
         class="error"
         ng-show="xdcrSettingsCtl.errors.checkpointInterval">
        {{xdcrSettingsCtl.errors.checkpointInterval}}
      </div>
    </div>
    <div class="formrow">
      <label for="worker_batch_size">XDCR Batch Count</label>
      <input
         type="number"
         ng-model="xdcrSettingsCtl.settings.workerBatchSize">
      <div
         class="error"
         ng-show="xdcrSettingsCtl.errors.workerBatchSize">
        {{xdcrSettingsCtl.errors.workerBatchSize}}
      </div>
    </div>
    <div class="formrow">
      <label for="doc_batch_size_kb">XDCR Batch Size (kB)</label>
      <input
         type="number"
         ng-model="xdcrSettingsCtl.settings.docBatchSizeKb">
      <div
         class="error"
         ng-show="xdcrSettingsCtl.errors.docBatchSizeKb">
        {{xdcrSettingsCtl.errors.docBatchSizeKb}}
      </div>
    </div>
    <div class="formrow">
      <label for="failure_restart_interval">XDCR Failure Retry Interval</label>
      <input
         type="number"
         ng-model="xdcrSettingsCtl.settings.failureRestartInterval">
      <div
         class="error"
         ng-show="xdcrSettingsCtl.errors.failureRestartInterval">
        {{xdcrSettingsCtl.errors.failureRestartInterval}}
      </div>
    </div>
    <div class="formrow">
      <label for="optimistic_replication_threshold">XDCR Optimistic Replication Threshold</label>
      <input
         type="number"
         ng-model="xdcrSettingsCtl.settings.optimisticReplicationThreshold">
      <div
         class="error"
         ng-show="xdcrSettingsCtl.errors.optimisticReplicationThreshold">
        {{xdcrSettingsCtl.errors.optimisticReplicationThreshold}}
      </div>
    </div>
    <div
       class="formrow">
      <label for="statistics_collection_interval">XDCR Statistics Collection Interval (ms)</label>
      <input
         type="number"
         ng-model="xdcrSettingsCtl.settings.statsInterval">
      <div
         class="error"
         ng-show="xdcrSettingsCtl.errors.statsInterval">
        {{xdcrSettingsCtl.errors.statsInterval}}
      </div>
    </div>
    <div
       class="formrow"
       ng-show="xdcrSettingsCtl.mnPools.isEnterprise &&
                xdcrSettingsCtl.settings.type === 'xmem'">
      <label for="statistics_collection_interval">XDCR Network Usage Limit (MB/sec)</label>
      <input
         type="number"
         ng-model="xdcrSettingsCtl.settings.networkUsageLimit">
      <div
         class="error"
         ng-show="xdcrSettingsCtl.errors.networkUsageLimit">
        {{xdcrSettingsCtl.errors.networkUsageLimit}}
      </div>
    </div>
    <div
       class="formrow">
      <label for="per_logging_level">XDCR Logging Level</label>
      <select ng-model="xdcrSettingsCtl.settings.logLevel">
        <option value="Info">Info</option>
        <option value="Debug">Debug</option>
        <option value="Trace">Trace</option>
        <option value="Warn">Warn</option>
        <option value="Error">Error</option>
      </select>
      <div
         class="error error-field"
         ng-show="xdcrSettingsCtl.errors.logLevel">
        {{xdcrSettingsCtl.errors.logLevel}}
      </div>
    </div>
  </div>
</div>
