<p
   class="disclosure margin-bottom-half"
   ng-class="{disclosed: xdcrFilterCtl.showAdvancedFiltering}"
   ng-click="xdcrFilterCtl.showAdvancedFiltering = !xdcrFilterCtl.showAdvancedFiltering">
  Replication Filters
</p>

<div ng-if="xdcrFilterCtl.showAdvancedFiltering" class="margin-left-1-5">
  <div class="margin-bottom-1-5">
    <label class="inline">Filter Expression</label>
    <span
       class="fa-stack icon-info"
       uib-tooltip="You may filter for values and x-attributes in addition to key names.
                    If the filter matches, the document will be replicated; otherwise the document
                    won’t be replicated. See the XDCR documentation for possible filter expressions
                    (NOTE: regex pattern-matching and many N1QL statements are supported, but there
                    are some unique aspects to the XDCR filtering language). You may test if your
                    filter expression matches a document by entering the document ID in the test field."
       tooltip-placement="auto right">
      <span class="icon fa-circle-thin fa-stack-2x"></span>
      <span class="icon fa-info fa-stack-1x"></span>
    </span>
    <textarea
       ng-model="mnReplication.filterExpression"
       rows="4"
       autocorrect="off"
       autocompleterg="off"
       spellcheck="false"
       class="xdcr-filter margin-bottom-half">
    </textarea>

    <div class="row margin-bottom-half">
      <input
         ng-model="xdcrFilterCtl.testDocID"
         type="text"
         autocorrect="off"
         autocompleterg="off"
         spellcheck="false"
         placeholder="id of document to test..."
         class="margin-right-half">
      <button
         type="button"
         class="outline"
         ng-disabled="xdcrFilterCtl.filterExpressionSpinner"
         ng-click="xdcrFilterCtl.onExpressionUpdate()">
        Test Filter
      </button>
      <div
         class="xdcrfilter-matching"
         ng-class="{dynamic_match: xdcrFilterCtl.filterExpressionResult.data.result,
                   dynamic_spinner: xdcrFilterCtl.filterExpressionSpinner,
                   hidden: xdcrFilterCtl.filterExpressionResult == null ||
                   xdcrFilterCtl.filterExpressionError ||
                   mnErrors.filterExpression ||
                   xdcrFilterCtl.filterExpressionResult.data.error}">
        <span class="xdcrfilter-nomatch">no match</span>
        <span class="xdcrfilter-loading loading">...</span>
        <span class="xdcrfilter-match">match</span>
      </div>
    </div>

    <div class="error"
         ng-show="xdcrFilterCtl.filterExpressionResult.data.error ||
                  xdcrFilterCtl.filterExpressionError ||
                  mnErrors.filterExpression">
      {{xdcrFilterCtl.filterExpressionResult.data.error ||
      xdcrFilterCtl.filterExpressionError ||
      mnErrors.filterExpression}}
    </div>

    <div ng-if="mnIsEditing" class="xdcr-filter-stream formrow">
      <input
         type="radio"
         value="false"
         id="for-save-restart-replication"
         ng-model="mnReplication.filterSkipRestream">
      <label for="for-save-restart-replication">Save filter & restart replication</label>
      <input
         type="radio"
         value="true"
         id="for-save-continue-replicating"
         ng-model="mnReplication.filterSkipRestream">
      <label for="for-save-continue-replicating">Save & continue replicating</label>
    </div>

    <label>Deletion Filters</label>
    <div>
      <input
         type="checkbox"
         value="index"
         id="for-do-not-replicate-ttl"
         ng-model="mnReplication.filterExpiration">
      <label for="for-do-not-replicate-ttl" class="margin-right-0">
        Do not replicate document expirations
      </label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="Source expirations will not be replicated."
         tooltip-placement="auto right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
    </div>
    <div>
      <input
         type="checkbox"
         value="index"
         id="for-do-not-replicate-delete"
         ng-model="mnReplication.filterDeletion">
      <label for="for-do-not-replicate-delete" class="margin-right-0">
        Do not replicate DELETE operations
      </label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="Application-level deletes will not be replicated."
         tooltip-placement="auto right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
    </div>
    <div class="margin-bottom-1">
      <input
         type="checkbox"
         value="index"
         id="for-do-not-replicate-TTL"
         ng-model="mnReplication.filterBypassExpiry">
      <label for="for-do-not-replicate-TTL" class="margin-right-0">
        Remove TTL from replicated items
      </label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="Destination items will have no TTL."
         tooltip-placement="auto right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
    </div>

  </div>
</div>
