<div class="dialog-med">
  <div class="panel-header">
    <h2>Edit Replication</h2>
  </div>
  <form
     class="forms"
     ng-submit="xdcrEditDialogCtl.createReplication()"
     mn-spinner="xdcrEditDialogCtl.viewLoading">
    <div class="panel-content">

      <div class="formrow"
           ng-show="xdcrEditDialogCtl.settings.type !== 'capi'">
        <label for="replication_priority">Replication Priority</label>
        <select
           id="xdcr_advaced_settings_type"
           ng-model="xdcrEditDialogCtl.settings.priority">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>

      <mn-xdcr-filter
         mn-is-editing="true"
         ng-if="xdcrEditDialogCtl.pools.isEnterprise"
         mn-errors="xdcrEditDialogCtl.errors"
         mn-replication="xdcrEditDialogCtl.settings"></mn-xdcr-filter>

      <div
         mn-is-editing="true"
         mn-pool-default="xdcrEditDialogCtl.poolDefault"
         mn-pools="xdcrEditDialogCtl.pools"
         mn-xdcr-settings="xdcrEditDialogCtl.settings"></div>
    </div>
    <div class="panel-footer">
      <a ng-click="$dismiss()">Cancel</a>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
