<div class="margin-top-half">
  <div class="formrow">
    <label class="checkbox">Start Time</label>
    <div class="row flex-left">
      <input
         class="input-short-1"
         ng-disabled="!autoCompactionSettings[mnPeriod + 'Flag'] || (rbac && !rbac.cluster.settings.write)"
         ng-model="autoCompactionSettings[mnPeriod].fromHour"
         ng-class="{invalid: errors[mnPeriod + '_fromHour_']}"
         type="number"
         placeholder="HH"> &nbsp; : &nbsp;
      <input
         class="input-short-1"
         ng-disabled="!autoCompactionSettings[mnPeriod + 'Flag'] || (rbac && !rbac.cluster.settings.write)"
         ng-model="autoCompactionSettings[mnPeriod].fromMinute"
         ng-class="{invalid: errors[mnPeriod + '_fromMinute_']}"
         type="number"
         placeholder="MM">
    </div>
  </div>

  <div class="formrow">
    <label class="checkbox">End Time</label>
    <div class="row flex-left">
      <input
         class="input-short-1"
         type="number"
         placeholder="HH"
         ng-class="{invalid: errors[mnPeriod + '_toHour_']}"
         ng-model="autoCompactionSettings[mnPeriod].toHour"
         ng-disabled="!autoCompactionSettings[mnPeriod + 'Flag'] || (rbac && !rbac.cluster.settings.write)" /> &nbsp; : &nbsp;
      <input
         class="input-short-1"
         ng-class="{invalid: errors[mnPeriod + '_toMinute_']}"
         ng-model="autoCompactionSettings[mnPeriod].toMinute"
         ng-disabled="!autoCompactionSettings[mnPeriod + 'Flag'] || (rbac && !rbac.cluster.settings.write)"
         type="number"
         placeholder="MM">
    </div>
  </div>
  <div class="formrow">
    <div class="error" ng-show="errors[mnPeriod]">
      {{errors[mnPeriod]}}
    </div>
    <div class="error" ng-show="errors[mnPeriod + '_fromHour_']">
      Start Time: {{errors[mnPeriod + '_fromHour_']}}
    </div>
    <div class="error" ng-show="errors[mnPeriod + '_fromMinute_']">
      Start Time: {{errors[mnPeriod + '_fromMinute_']}}
    </div>
    <div class="error" ng-show="errors[mnPeriod + '_toHour_']">
      End Time: {{errors[mnPeriod + '_toHour_']}}
    </div>
    <div class="error" ng-show="errors[mnPeriod + '_toMinute_']">
      End Time: {{errors[mnPeriod + '_toMinute_']}}
    </div>
  </div>
  <div class="formrow">
    <input
       type="checkbox"
       id="for-compact-abort-outside-{{mnPeriod}}"
       ng-class="{invalid: errors[mnPeriod + '_abortOutside_']}"
       ng-model="autoCompactionSettings[mnPeriod].abortOutside"
       ng-disabled="!autoCompactionSettings[mnPeriod + 'Flag'] || (rbac && !rbac.cluster.settings.write)"
       value="true">
    <label for="for-compact-abort-outside-{{mnPeriod}}">Abort compaction exceeding the set time interval</label>
    <div
       class="error"
       ng-show="errors[mnPeriod + '_abortOutside_']">
      {{errors[mnPeriod + '_abortOutside_']}}
    </div>
  </div>
</div>
