<div id="bucket_password_dialog" style="width: 600px">
	<h1 class="dialog_corner_radius">Bucket Password</h1>
	<form class="simple-form">
		<div class="sub_section" style="margin: 1em">
			<table style="margin-left:0em"><tr style="white-space: nowrap">
				<td style="margin-top: 0.25em; padding-right: 1em; vertical-align: middle">
						Enter a password for bucket '{{bucket.id}}': </td>
				<td width="100%">
					<input type="password" id="pwd" placeholder="Password"
						ng-model="bucket.tempPassword" qw-focus-me="open" style="width: 100%"></input></td>
			</tr></table>
		</div>
		<div class="save_cancel">
			<button type="submit" class="save_button float_right"
				ng-click="$close('ok')">OK</button>
			<button type="submit" class="close float_right"
				ng-click="$dismiss('cancel')">Cancel</button>
		</div>
	</form>
</div>
