<div class="dialog-med">
  <div class="panel-header">
    <h2 class="ellipsis">{{error_title}}</h2>
  </div>
  <form class="forms">
  <div class="panel-content">
    <div class="row">
      <span class="icon red-3 fa-warning fa-2x">&nbsp;</span>
      <span class="flex-grow-3">
        <div ng-if="error_detail">{{error_detail}}</div>
        <ul class="nobullet" ng-if="error_detail_array">
            <li ng-repeat="msg in error_detail_array">{{msg}}</li>
        </ul>
      </span>
    </div>
  </div>
  <div class="panel-footer">
    <a ng-hide="{{hide_cancel}}"
       ng-click="$dismiss('cancel')">
      Cancel
    </a>
    <button
       type="submit"
       ng-click="!errors() && $close('ok')">
      Continue
    </button>
  </div>
  </form>
</div>
