<div
   class="panel dialog-med dialog dialog-wizard"
   mn-spinner="clusterConfigurationCtl.viewLoading">
  <div class="panel-header flex-left">
    <img
       src="../cb_logo_bug_white_2.svg"
       width="32"
       height="32"
       class="margin-right-half">
    <h2>Couchbase &gt; Join Cluster</h2>
  </div>
  <form
     class="forms"
     novalidate
     ng-submit="clusterConfigurationCtl.onSubmit()">
    <div class="panel-content">
      <p
         class="error error-form"
         ng-if="clusterConfigurationCtl.postJoinClusterErrors">
        <span ng-repeat="error in clusterConfigurationCtl.postJoinClusterErrors">
          Attention: {{error}}
        </span>
      </p>
      <p class="error error-form"
         ng-show="clusterConfigurationCtl.certificate.cert.type == 'generated'">
        This node is using self-signed certificates. No peer verification between nodes will be done.
      </p>
      <div class="formrow">
        <label for="clusterMemberHostIp">Cluster Host Name/IP Address</label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           id="clusterMemberHostIp"
           ng-model="clusterConfigurationCtl.joinClusterConfig.clusterMember.hostname">
      </div>

      <div class="formrow">
        <label for="join_user_input">Cluster Admin Username</label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           id="join_user_input"
           ng-model="clusterConfigurationCtl.joinClusterConfig.clusterMember.username">
      </div>

      <div class="formrow">
        <label for="join_password_input">Cluster Admin Password</label>
        <input
           type="password"
           autocorrect="off"
           spellcheck="false"
           mn-autocomplete-off
           ng-model="clusterConfigurationCtl.joinClusterConfig.clusterMember.password"
           id="join_password_input">
      </div>

      <div
         class="formrow disclosure"
         ng-click="clusterConfigurationCtl.toggleConfigurationSection = !clusterConfigurationCtl.toggleConfigurationSection"
         ng-class="{'disclosed': clusterConfigurationCtl.toggleConfigurationSection}">
        Configure Services & Settings For This Node
      </div>

      <div ng-show="clusterConfigurationCtl.toggleConfigurationSection">
        <div  class="formrow">
          <div
             class="error error-form"
             ng-show="!!clusterConfigurationCtl.setupServicesErrors[0]">
            {{clusterConfigurationCtl.setupServicesErrors[0]}}
          </div>
          <div
             class="checkbox-list services"
             mn-is-enterprise="clusterConfigurationCtl.isEnterprise"
             mn-services="clusterConfigurationCtl.joinClusterConfig"></div>
        </div>

        <div class="formrow">
          <label for="setup_hostname">This Node: Host Name/IP Address</label>
          <input
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             name="hostname"
             id="setup_hostname"
             required
             ng-model="clusterConfigurationCtl.config.hostname">
          <div
             class="error error-form"
             ng-if="clusterConfigurationCtl.postHostnameErrors[0]">
            {{clusterConfigurationCtl.postHostnameErrors[0]}}
          </div>
        </div>


        <mn-services-disk-paths
           ng-if="clusterConfigurationCtl.config"
           config="clusterConfigurationCtl.config"
           is-enterprise="clusterConfigurationCtl.isEnterprise"
           post-disk-storage-errors="clusterConfigurationCtl.postDiskStorageErrors"
           ></mn-services-disk-paths>

      </div>
    </div>
    <div class="panel-footer">
      <a ui-sref="app.wizard.welcome">&lt; Back</a>
      <button
         type="submit"
         ng-disabled="
                      !clusterConfigurationCtl.joinClusterConfig.clusterMember.password ||
                      !clusterConfigurationCtl.joinClusterConfig.clusterMember.hostname ||
                      !clusterConfigurationCtl.joinClusterConfig.clusterMember.password
                      ">
        Join With {{('isEqual' | lodash
        :clusterConfigurationCtl.defaultJoinClusterSerivesConfig
        :clusterConfigurationCtl.joinClusterConfig.services)
        &&
        ('isEqual' | lodash
        :clusterConfigurationCtl.defaultConfig
        :clusterConfigurationCtl.config)
        ?
        'Default' : 'Custom'}} Configuration
      </button>
    </div>
  </form>
</div>
