<div id="query_prefs_dialog" class="dialog-med">
  <div class="panel-header">
    <h2>Run-Time Preferences</h2>
  </div>

  <form class="forms" name="prefs_form" novalidate>
    <div class="panel-content">
      <div class="formrow" ng-hide="mode == 'analytics'">
        <input id="for-collect-timings" type="checkbox" ng-model="options.timings">
        <label for="for-collect-timings" class="checkbox inline margin-right-zero">Collect query timings</label>
        <span
           class="fa-stack icon-info"
           uib-tooltip="Collects per-operator query timings during query execution and displays them in the query plan. This preference is ON by default.">
           <span class="icon fa-circle-thin fa-stack-2x"></span>
           <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </div>
      <div class="formrow" ng-hide="mode == 'analytics'">
        <input id="for-auto-infer" type="checkbox" ng-model="options.auto_infer">
        <label for="for-auto-infer" class="checkbox inline margin-right-zero">Automatically infer bucket schemas</label>
        <span
           class="fa-stack icon-info"
           uib-tooltip="When you launch the query workbench, automatically infer bucket schemas to make field names available for autocompletion. In some cases this may impact server performance.">
           <span class="icon fa-circle-thin fa-stack-2x"></span>
           <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </div>
      <div class="formrow" ng-hide="mode == 'analytics'">
        <input id="for-auto-format" type="checkbox" ng-model="options.auto_format">
        <label for="for-auto-format" class="checkbox">Automatically format queries before executing</label>
      </div>
      <div class="formrow" ng-hide="mode == 'analytics'">
        <input id="for-dont-save" type="checkbox" ng-model="options.dont_save_queries">
        <label for="for-dont-save" class="checkbox inline margin-right-zero">Don't save query history</label>
         <span
            class="fa-stack icon-info"
            uib-tooltip="Disables auto-saving query history to local storage in your browser. This is a consideration for shared machines. When selected, any query history will be lost if you leave or refresh the Query Workbench.">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
         </span>
      </div>
      <div class="formrow" ng-hide="mode == 'analytics'">
        <label class="inline">Max Parallelism</label>
        <input type="text" id="pwd" ng-model="options.max_parallelism"></input>
      </div>
      <div class="formrow" ng-hide="mode == 'analytics'">
        <label>Scan Consistency</label>
        <select ng-model="options.scan_consistency">
          <option value="not_bounded">not_bounded</option>
          <option value="request_plus">request_plus</option>
          <option value="statement_plus">statement_plus</option>
        </select>
      </div>
      <div class="formrow" ng-hide="mode != 'analytics'">
        <label>Scan Consistency</label>
        <select ng-model="options.scan_consistency">
          <option value="not_bounded">not_bounded</option>
          <option value="request_plus">request_plus</option>
        </select>
      </div>
      <div class="formrow">
        <div class="row">
          <label>Positional Parameters</label>
          <span>
            <button type="button" class="outline btn-small" title="Add a parameter" ng-click="options.positional_parameters.push('')">+</button>
            <button type="button" class="outline btn-small" title="Remove parameter" ng-click="options.positional_parameters.splice(-1,1)" ng-disabled="options.positional_parameters.length < 1">-</button>
          </span>
        </div>
          <div style="margin:.5rem 0;" ng-repeat="param in options.positional_parameters track by $index">
            <span class="input-prepend">
              ${{$index + 1}} = &nbsp;
              <input type="text" name="position_{{$index}}" ng-model="options.positional_parameters[$index]" qw-valid-json>
            </span>
          </div>
      </div>
      <div class="formrow">
        <div class="row">
          <label>Named Parameters</label>
          <span>
            <button type="button" class="outline btn-small" title="Add parameter" ng-click="options.named_parameters.push({name:'',value:''})" >+</button>
            <button type="button" class="outline btn-small" title="Remove parameter" ng-click="options.named_parameters.splice(-1,1)" ng-disabled="options.named_parameters.length < 1">-</button>
          </span>
        </div>
        <div class="row" ng-repeat="param in options.named_parameters track by $index">
          <div class="column width-6" style="margin-bottom:.5rem">
            <label>name</label>
            <span class="input-prepend">
              <input type="text" ng-model="options.named_parameters[$index].name">
            </span>
          </div>
          <div class="column width-6" style="margin-bottom:.5rem">
            <label>value</label>
            <input type="text" ng-model="options.named_parameters[$index].value"  qw-valid-json>
          </div>
        </div>
      </div>

      <div class="formrow">
          <label>Query Timeout</label>
          <input type="number" max="1000000" min="1" id="pwd" ng-model="options.query_timeout"
          name="timeout" ng-class="{'ng-invalid-number': prefs_form.timeout.$invalid}"></input>
      </div>

    </div>

    <div class="panel-footer">
      <a
         href=""
         ng-click="$dismiss('cancel')">
        Cancel
      </a>
      <button type="submit" ng-click="$close('ok')" ng-disabled="prefs_form.$invalid">
      Save Preferences</button>
    </div>
  </form>
</div>
