<div>
  <h5>Warmup Progress</h5>
  <hr>
  <div class="column indent-1 text-smaller" ng-init="limitTo = 3">
    <div ng-repeat="task in warmUpTasks | orderBy:sortBy | limitTo:limitTo">
      <span title="task[$parent.sortBy]" class="ellipsis">{{task[$parent.sortBy]}}</span>
      <span>{{task | formatWarmupMessage}}</span>
    </div>
    <a
       ng-show="warmUpTasks.length > 3 && limitTo === 3"
       ng-click="limitTo = undefined; $event.stopPropagation();">... more</a>
    <a
       ng-show="warmUpTasks.length > 3 && limitTo === undefined"
       ng-click="limitTo = 3; $event.stopPropagation();">less</a>
  </div>
</div>
