<div class="dialog-med">
  <div class="panel-header">
    <h2>Import Query / History</h2>
  </div>

  <form class="forms">
  <div class="panel-content">
    <div class="formrow checkbox-list">
      <label>Choose Import</label>
      <div
         data-ng-repeat="choice in file_options track by $index">
        <input
           type="radio"
           name="response"
           value="{{$index}}"
           id="for-{{$index}}"
           ng-model="$parent.selected.item"
           ng-checked="$index==0">
        <label
           for="for-{{$index}}"
           class="checkbox">
          {{choice.label}} &nbsp;
        </label>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <a
       ng-click="$dismiss('cancel')"
       href="">
      Cancel
    </a>
    <button
       type="submit"
       ng-click="$close('ok')">
      <span>Next</span>
    </button>
  </div>
  </form>
</div>
