<div class="selectable-nodes-list">
  <div class="row margin-bottom-half">
    <span class="row nodes-list-select-all">
      <label
         class="toggle-control margin-0"
         for="thisModule_checkall">
        <input
          type="checkbox"
          id="thisModule_checkall"
          ng-disabled="!filteredNodes.length"
          ng-checked="mnThisCtl.areAllChecked(false)"
          ng-click="mnThisCtl.toggleAll()">
        <span class="toggle-control-body"></span>
      </label>
      <span class="text-smaller">&nbsp; select all nodes</span>

    </span>
    <div
       class="row"
       mn-placeholder="filter nodes..."
       mn-hide-button="true"
       mn-search="mnThisCtl.filterField">
    </div>
  </div>
  <section
     class="cbui-table"
     ng-repeat="node in mnThisCtl.nodes | mnServersListFilter:mnThisCtl.filterField:mnThisCtl.mnGroups as filteredNodes track by node.otpNode">
    <div class="cbui-tablerow padding-left-half" ng-class="['dynamic_' + node.status, 'dynamic_' + node.clusterMembership]">
      <span class="cbui-table-cell flex-grow-2-5">
        <input
           type="checkbox"
           ng-model="mnThisCtl.mnSelectedNodesHolder[node.otpNode]"
           ng-value="node.otpNode"
           ng-attr-id="collected_node_list_{{node.otpNode}}"
           ng-disabled="mnThisCtl.mnIsNodeDisabled({node:node})">
        <label
           title="{{node.hostname | mnStripPortHTML:mnThisCtl.nodes}}"
           for="collected_node_list_{{node.otpNode}}">
          {{ node.hostname | mnStripPortHTML:mnThisCtl.nodes }}
        </label>
      </span>
      <span
         class="cbui-table-cell flex-grow-1 resp-hide-sml"
         ng-if="mnThisCtl.getGroupName(node)"
         title="{{mnThisCtl.getGroupName(node)}}">
        {{mnThisCtl.getGroupName(node) | mnLimitTo: 20}}
      </span>
      <span class="cbui-table-cell flex-grow-2-5 row min flex-right resp-hide-xsml">
        <span
           ng-repeat="service in node.services | mnFormatServicesArray | orderBy"
           class="label neutral nocaps"
           ng-class="{'flex-order-1' : service == 'Data',
                      'flex-order-2' : service == 'Index',
                      'flex-order-3' : service == 'Query',
                      'flex-order-4' : service == 'Search',
                      'flex-order-5' : service == 'Analytics',
                      'flex-order-6' : service == 'Eventing'}">
          {{service}}
        </span>
      </span>
    </div>
  </section>
  <div ng-if="!filteredNodes.length" class="zero-content">No nodes match this filter term.</div>
</div>
