<div
   class="error error-form"
   mn-focus="!!postDiskStorageErrors"
   tabindex="0"
   ng-if="postDiskStorageErrors">
  <div ng-repeat="error in postDiskStorageErrors track by $index">
    Attention: {{error}}<br>
  </div>
</div>

<div class="formrow">
  <div class="row">
    <label for="setup_db_path_input">Data Disk Path</label>
    <small class="text-smaller">Path cannot be changed after setup</small>
  </div>
  <input
     type="text"
     autocorrect="off"
     spellcheck="false"
     autocapitalize="off"
     ng-disabled="isDisabled"
     id="setup_db_path_input"
     ng-model="config.dbPath"
     ng-change="mnCtl.onDbPathChange()">
  <p>
    Free: {{mnCtl.dbPathTotal}}
  </p>
</div>

<div class="formrow">
  <div class="row">
    <label for="setup_index_path_input">Indexes Disk Path</label>
    <small class="text-smaller">Path cannot be changed after setup</small>
  </div>
  <input
     type="text"
     autocorrect="off"
     spellcheck="false"
     autocapitalize="off"
     ng-disabled="isDisabled"
     id="setup_index_path_input"
     ng-model="config.indexPath"
     ng-change="mnCtl.onIndexPathChange()">
  <p>
    Free: {{mnCtl.indexPathTotal}}
  </p>
</div>

<div class="formrow" ng-if="isEnterprise">
  <div class="row">
    <label for="setup_eventing_path_input">Eventing Disk Path</label>
    <small class="text-smaller">Path cannot be changed after setup</small>
  </div>
  <input
     type="text"
     autocorrect="off"
     spellcheck="false"
     autocapitalize="off"
     ng-disabled="isDisabled"
     id="setup_eventing_path_input"
     ng-model="config.eventingPath"
     ng-change="mnCtl.onEventingPathChange()">
  <p>
    Free: {{mnCtl.eventingPathTotal}}
  </p>
</div>

<div
   class="formrow"
   ng-if="isEnterprise">
  <div class="row">
    <label for="setup_cbas_dirs_input0">Analytics Disk Paths</label>
    <small class="text-smaller">Paths cannot be changed after setup</small>
  </div>
  <div
     class="formrow"
     ng-repeat="dir in config.cbasDirs track by $index">
    <input
       ng-disabled="isDisabled"
       type="text"
       autocorrect="off"
       spellcheck="false"
       autocapitalize="off"
       ng-attr-id="{{'setup_cbas_dirs_input' + $index}}"
       ng-model="config.cbasDirs[$index]"
       ng-change="mnCtl.onCbasDirsChange($index)">
    <p>
      Free: {{mnCtl['cbasDirsTotal' + $index]}}
    </p>
  </div>
</div>

<div
   class="row formrow flex-right margin-top-neg-2"
   ng-if="isEnterprise">
  <button
     class="outline btn-small"
     title="Add field"
     ng-disabled="isDisabled"
     ng-click="mnCtl.addCbasPath();"
     type="button">+</button>
  <button
     class="outline btn-small"
     title="Remove field"
     ng-disabled="(config.cbasDirs.length === 1) || isDisabled"
     ng-click="config.cbasDirs.pop();"
     type="button">-</button>
</div>
