<script type="text/ng-template" id="rolesTree">
<div ng-init="::isArray = ('isArray' | lodash:role);
              isObject = ('isObject' | lodash:role) && !isArray">
  <div
    ng-if="::isArray"
    ng-init="::
             isFirstArray = ('isArray' | lodash:role[0]);
             getUIID = mnThisCtl.getUIID(isFirstArray ? role[0] : role[1][0], true);
             roles = role;">
    <label
      ng-if="!isFirstArray"
      ng-click="::mnThisCtl.toggleWrappers(getUIID)"
      class="disclosure ellipsis"
      ng-class="{
                'disclosed': mnThisCtl.openedWrappers[getUIID],
                'has-selection': !mnThisCtl.openedWrappers[getUIID] && mnThisCtl.selectedWrappers[getUIID]
                }">
      {{::role[0]}}
    </label>
    <div ng-class="{'indent-1': !isFirstArray}">
      <div
        ng-show="mnThisCtl.openedWrappers[getUIID]"
        ng-repeat="role in (isFirstArray ? roles : roles[1])"
        ng-include="'rolesTree'">
      </div>
    </div>
  </div>
  <div
    ng-if="isObject"
    ng-init="::getUIID = mnThisCtl.getUIID(role);"
    ng-class="[{'has-selection': mnThisCtl.selectedRoles[getUIID] || mnThisCtl.hasGroups(getUIID)}, 'dynamic-' + role.role, 'dynamic-' + (role.bucket_name ? role.bucket_name : 'no_bucket')]">
    <input
      type="checkbox"
      id="for-{{::getUIID}}"
      ng-disabled="mnThisCtl.isRoleDisabled(role)"
      ng-change="::mnThisCtl.onCheckChange(role, getUIID)"
      ng-model="mnThisCtl.selectedRoles[getUIID]"
      ng-class="{'fake-select': mnThisCtl.isRoleDisabled(role)}">
    <label
      ng-attr-title="{{role.desc}}"
      for="for-{{::getUIID}}">
      {{::role.name}}
      <span
        ng-if="getUIID === mnThisCtl.getUIID({role: 'query_external_access'})"
        tooltip-trigger="'mouseenter'"
        tooltip-append-to-body="true"
        tooltip-placement="auto top"
        class="fa-exclamation-circle icon orange-3"
        uib-tooltip="Warning: Granting the query_external_access role permits execution of the N1QL function CURL() and may allow access to other network endpoints in the local network and the Internet.">
      </span>
  </label>
  <span
   class="role-from-group"
   ng-if="mnThisCtl.hasGroups(getUIID)"
   tooltip-trigger="'mouseenter'"
   tooltip-append-to-body="true"
   uib-tooltip="{{mnThisCtl.getGroupsList(getUIID)}}">&nbsp;</span>
  </div>
</div>
</script>
<div mn-spinner="mnThisCtl.viewLoading" min-height="410px">
  <div
    ng-repeat="role in mnThisCtl.rolesTree"
    ng-include="'rolesTree'"></div>
</div>
