<div class="checkbox-list storage-mode">
  <div ng-show="!mnIsEnterprise ||
                (mnInitial && mnInitial.storageMode === 'forestdb')">
    <input
       type="radio"
       value="forestdb"
       id="storage_mode_forestdb"
       ng-model="mnModel.storageMode"
       ng-disabled="(mnServices && !mnServicesModel.index) ||
                    (mnPermissions && !mnPermissions.cluster.settings.indexes.write) ||
                    (mnInitial && mnInitial.storageMode === 'forestdb')">
    <label for="storage_mode_forestdb" class="checkbox">
      {{:: mnIsEnterprise ? 'Legacy' : 'Standard'}} Global Secondary
    </label>
  </div>
  <div ng-show="mnIsEnterprise">
    <input
       type="radio"
       value="plasma"
       id="storage_plasma_indexes"
       ng-model="mnModel.storageMode"
       ng-disabled="!mnIsEnterprise ||
                    (mnServicesModel && !mnServicesModel.index) ||
                    (mnPermissions && !mnPermissions.cluster.settings.indexes.write)">
    <label for="storage_plasma_indexes" class="checkbox">
      Standard Global Secondary
    </label>
  </div>
  <div>
    <input
       type="radio"
       value="memory_optimized"
       id="storage_memory_optimized"
       ng-model="mnModel.storageMode"
       ng-disabled="!mnIsEnterprise ||
                    (mnServicesModel && !mnServicesModel.index) ||
                    (mnPermissions && !mnPermissions.cluster.settings.indexes.write)">
    <label for="storage_memory_optimized" class="checkbox margin-right-zero">
      Memory-Optimized
    </label>
    <span
       class="fa-stack icon-info"
       uib-tooltip="Memory-optimized indexing is highly performant but requires careful attention to your index RAM quota. It is an Enterprise-only feature."
       tooltip-placement="top">
      <span class="icon fa-circle-thin fa-stack-2x"></span>
      <span class="icon fa-info fa-stack-1x"></span>
    </span>
  </div>
  <div class="error error-field" ng-show="mnErrors.storageMode">
    {{mnErrors.storageMode | mnFormatStorageModeError}}
  </div>
</div>
