<div
   class="panel dialog-med dialog dialog-wizard height-85vh"
   mn-spinner="clusterConfigurationCtl.viewLoading || !clusterConfigurationCtl.config.selfConfig">
  <div class="panel-header flex-left margin-bottom-quarter">
    <img
       src="../cb_logo_bug_white_2.svg"
       width="32"
       height="32"
       class="margin-right-half">
    <h2>Couchbase &gt; New Cluster &gt; Configure</h2>
  </div>
  <form
     class="forms"
     style="height:inherit;"
     novalidate
     ng-submit="clusterConfigurationCtl.onSubmit()">
  <div style="height:calc(100% - 112px);overflow:auto;" class="show-scrollbar">
    <div class="panel-content">
      <div class="formrow">
        <div class="row">
          <label for="setup_hostname">Host Name / IP Address</label>
          <small class="text-smaller">Fully-qualified domain name</small>
        </div>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           name="hostname"
           id="setup_hostname"
           required
           ng-model="clusterConfigurationCtl.config.hostname">
        <div
           class="error error-form"
           ng-if="clusterConfigurationCtl.postHostnameErrors[0]">
          {{clusterConfigurationCtl.postHostnameErrors[0]}}
        </div>
      </div>

      <div class="formrow form-inline" ng-show="clusterConfigurationCtl.isEnterprise">
        <input
           type="checkbox"
           ng-false-value="'ipv4'"
           ng-true-value="'ipv6'"
           ng-change="clusterConfigurationCtl.onIPvChange()"
           id="for-use-ipv6-addresses"
           ng-model="clusterConfigurationCtl.hostConfig.afamily">
        <label for="for-use-ipv6-addresses">
          use IPv6 addresses
        </label>
        <input
           type="checkbox"
           ng-false-value="'off'"
           ng-true-value="'on'"
           id="for-node-encryption"
           ng-model="clusterConfigurationCtl.hostConfig.nodeEncryption">
        <label for="for-node-encryption">
           enable cluster encryption
        </label>
        <div
           class="error error-form"
           ng-show="clusterConfigurationCtl.postHostConfigErrors.afamily">
          {{clusterConfigurationCtl.postHostConfigErrors.afamily}}
        </div>
        <div
           class="error error-form"
           ng-show="clusterConfigurationCtl.postHostConfigErrors.nodeEncryption">
          {{clusterConfigurationCtl.postHostConfigErrors.nodeEncryption}}
        </div>
        <div
           class="error error-form"
           ng-show="clusterConfigurationCtl.postHostConfigErrors.hasOwnProperty('_')">
          {{clusterConfigurationCtl.postHostConfigErrors["_"]}}
        </div>
      </div>

      <mn-services-disk-paths
         ng-if="clusterConfigurationCtl.config"
         config="clusterConfigurationCtl.config"
         is-enterprise="clusterConfigurationCtl.isEnterprise"
         post-disk-storage-errors="clusterConfigurationCtl.postDiskStorageErrors"
         ></mn-services-disk-paths>

      <div class="formrow" ng-if="clusterConfigurationCtl.isEnterprise">
        <div class="row">
          <label for="setup_java_runtime_path_input">Java Runtime Path</label>
          <small class="text-smaller">optional</small>
        </div>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           id="setup_java_runtime_path_input"
           ng-model="clusterConfigurationCtl.config.java_home">
      </div>

      <div class="formrow">
        <div class="row formrow">
          <label>Service Memory Quotas</label>
          <small class="text-smaller">Per service / per node</small>
        </div>
        <div>
          <div
             class="error error-form"
             ng-show="!!clusterConfigurationCtl.setupServicesErrors[0]">
            {{clusterConfigurationCtl.setupServicesErrors[0]}}
          </div>
          <div
             class="formrow"
             mn-is-enterprise="clusterConfigurationCtl.isEnterprise"
             mn-memory-quota="clusterConfigurationCtl.config.startNewClusterConfig"
             errors="clusterConfigurationCtl.postMemoryErrors">
          </div>
          <label>Index Storage Setting</label>
          <mn-storage-mode
             class="formrow"
             mn-is-enterprise="clusterConfigurationCtl.isEnterprise"
             mn-services-model="clusterConfigurationCtl.config.startNewClusterConfig.services.model"
             mn-model="clusterConfigurationCtl.config.startNewClusterConfig.indexSettings"
             mn-errors="clusterConfigurationCtl.postIndexSettingsErrors">
          </mn-storage-mode>
        </div>
      </div>

      <div>
        <input
           type="checkbox"
           id="init-notifications-updates-enabled"
           ng-model="clusterConfigurationCtl.sendStats"
           checked="checked">
           <label for="init-notifications-updates-enabled" class="margin-right-zero">
             Enable software update notifications in the web console.
           </label>
           <span class="fa-stack icon-info"
                 uib-tooltip="Enabling software update notifications allows notification in the Couchbase web console when a new version of Couchbase Server is available. Configuration information transferred in the update check is anonymous and does not include any stored key-value data."
                 tooltip-placement="top">
             <span class="icon fa-circle-thin fa-stack-2x"></span>
             <span class="icon fa-info fa-stack-1x"></span>
           </span>
      </div>
    </div>
  </div>

  <div class="panel-footer scroll-shadow margin-top-quarter">
    <a ui-sref="app.wizard.termsAndConditions">&lt; Back</a>
    <button
       ng-disabled="clusterConfigurationCtl.postMemoryErrors && clusterConfigurationCtl.joinCluster === 'no'"
       type="submit">Save & Finish</button>
  </div>
  </form>
</div>
