<div>
  <p ng-if="error" class="warning">{{error}}</p>
  <!-- button
     ng-if="!error && !advice"
     ng-click="update_advice()"
     class="outline">Get Advice for Current Query
  </button -->

  <div ng-if="!error" ng-repeat="element in advice" class="margin-bottom-1">
  <div ng-if="element.current_indexes.length > 0">
    <h5>Index<span ng-if="element.current_indexes.length > 1">es</span> Currently Used</h5>
      <p class="margin-bottom-0 indent-1" ng-repeat="curIdx in element.current_indexes" class="margin-bottom-half">
        {{curIdx.index_statement}}
        <em class="text-smaller" ng-if="curIdx.index_status == 'THIS IS THE BEST INDEX WE CAN RECOMMEND'">
          <span class="icon fa-check success"></span> optimal index
        </em>
      </p>
      <br>
    </div>

    <div
      ng-if="has_covered(element)">
      <h5>Covered Index Recommendations</h5>
      <div class="margin-bottom-1">
        <p class="margin-bottom-0 indent-1" ng-repeat="stmt in get_covered_indexes(element)">{{stmt}}</p>
      </div>
      <button class="outline" ng-click="create_option('covering_indexes',$index)">
        Create & Build Covered Index<span ng-if="get_covered_indexes(element).length > 1">es</span>
      </button>
      <br><br>
    </div>

    <div
      ng-if="get_regular_indexes(element).length > 0">
      <h5>Index Recommendations</h5>
      <div class="margin-bottom-1">
        <p class="margin-bottom-0 indent-1" ng-repeat="stmt in get_regular_indexes(element)">{{stmt}}</p>
      </div>
      <button class="outline" ng-click="create_option('indexes',$index)">
        Create & Build Index<span ng-if="get_regular_indexes(element).length > 1">es</span>
      </button>
    </div>
    <div
       ng-if="get_regular_indexes(element).length == 0 && get_covered_indexes(element).length == 0 && element.current_indexes.length > 0"
       class="success">
      Existing indexes are sufficient.
    </div>
    <div
       ng-if="get_regular_indexes(element).length == 0 && get_covered_indexes(element).length == 0 && !element.current_indexes.length"
       class="success">
       {{element.recommended_indexes}}
    </div>
  </div>
</div>
