<div
   uib-dropdown
   auto-close="outsideClick"
   on-toggle="mnFilterCtl.togglePopup(open)"
   style="position: relative;">
  <button
     uib-dropdown-toggle
     class="outline icon btn-small"
     ng-class="{
               'fa-angle-up': mnFilterCtl.showPopup,
               'fa-angle-down': !mnFilterCtl.showPopup
               }"
     ng-disabled="mnFilterCtl.mnDisabled"></button>
  <div
     uib-dropdown-menu
     class="panel dialog dialog-med"
     style="position: absolute; top: auto; left:0">
    <form ng-submit="mnFilterCtl.togglePopup()">
      <div class="panel-content forms">
        <div
           class="row formrow flex-right"
           ng-show="mnFilterCtl.config.items.conflict">
          <input
             id="filter_conflicts"
             ng-model="mnFilterCtl.config.params.conflicts"
             type="checkbox">
          <label for="filter_conflicts">conflicts</label>
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.bbox">
          <label class="width-6" for="filter_bbox">bbox</label>
          <input
             id="filter_bbox"
             ng-model="mnFilterCtl.config.params.bbox"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.startRange">
          <label class="width-6" for="filter_start_range">start_range</label>
          <input
             id="filter_start_range"
             ng-model="mnFilterCtl.config.params.start_range"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.endRange">
          <label class="width-6" for="filter_end_range">end_range</label>
          <input
             id="filter_end_range"
             ng-model="mnFilterCtl.config.params.end_range"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.descending">
          <span class="width-6"></span>
          <span class="width-6">
            <input
               id="filter_descending"
               ng-model="mnFilterCtl.config.params.descending"
               type="checkbox">
            <label for="filter_descending">descending</label>
          </span>
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.startkey">
          <label class="width-6" for="filter_startkey">startkey</label>
          <input
             id="filter_startkey"
             ng-model="mnFilterCtl.config.params.startkey"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.endkey">
          <label class="width-6" for="filter_endkey">endkey</label>
          <input
             id="filter_endkey"
             ng-model="mnFilterCtl.config.params.endkey"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.startkeyDocid">
          <label class="width-6" for="filter_startkey_docid">startkey_docid</label>
          <input
             id="filter_startkey_docid"
             ng-model="mnFilterCtl.config.params.startkey_docid"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.endkeyDocid">
          <label class="width-6" for="filter_endkey_docid">endkey_docid</label>
          <input
             id="filter_endkey_docid"
             ng-model="mnFilterCtl.config.params.endkey_docid"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.group">
          <span class="width-6"></span>
          <span class="width-6">
            <input
               id="filter_group"
               name="group"
               ng-model="mnFilterCtl.config.params.group"
               type="checkbox">
            <label for="filter_group">group</label>
          </span>
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.groupLevel">
          <label class="width-6" for="filter_group_level">group_level</label>
          <input
             id="filter_group_level"
             ng-model="mnFilterCtl.config.params.group_level"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
>
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.inclusiveEnd">
          <span class="width-6"></span>
          <span class="width-6">
            <input
               id="filter_inclusive_end"
               ng-model="mnFilterCtl.config.params.inclusive_end"
               type="checkbox"
               ng-false-value="false"
               ng-true-value="true">
            <label class="width-5" for="filter_inclusive_end">inclusive_end</label>
          </span>
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.key">
          <label class="width-6" for="filter_key">key</label>
          <input
             id="filter_key"
             ng-model="mnFilterCtl.config.params.key"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
>
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.keys">
          <label class="width-6" for="filter_keys">keys</label>
          <input
             id="filter_keys"
             ng-model="mnFilterCtl.config.params.keys"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
>
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.reduce">
          <label class="width-6" for="filter_reduce">reduce</label>
          <span class="width-6">
            <div class="checkbox-list">
              <input
                 type="radio"
                 group="reduce"
                 ng-model="mnFilterCtl.config.params.reduce"
                 id="reduce_true"
                 value="true"><!--
           --><label for="reduce_true">true</label><!--
           --><input
                 type="radio"
                 group="reduce"
                 ng-model="mnFilterCtl.config.params.reduce"
                 id="reduce_false"
                 value="false"><!--
           --><label for="reduce_false">false</label><!--
           --><input
                 type="radio"
                 group="reduce"
                 ng-model="mnFilterCtl.config.params.reduce"
                 id="reduce_none"
                 value=""><!--
            --><label for="reduce_none">none</label>
            </div>
          </span>
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.stale">
          <label class="width-5" for="filter_stale">stale</label>
          <div class="checkbox-list">
            <input
               type="radio"
               group="reduce"
               ng-model="mnFilterCtl.config.params.stale"
               id="stale_false"
               value="false"><!--
         --><label for="stale_false">false</label><!--
         --><input
               type="radio"
               group="reduce"
               ng-model="mnFilterCtl.config.params.stale"
               id="stale_update_after"
               value="update_after"><!--
         --><label for="stale_update_after">update_after</label><!--
         --><input
               type="radio"
               group="reduce"
               ng-model="mnFilterCtl.config.params.stale"
               id="stale_ok"
               value="ok"><!--
          --><label for="stale_ok">ok</label>
          </div>
        </div>
        <div
           class="row formrow"
           ng-show="mnFilterCtl.config.items.connectionTimeout">
          <label class="width-6" for="filter_connection_timeout">connection_timeout</label>
          <input
             id="filter_connection_timeout"
             ng-model="mnFilterCtl.config.params.connection_timeout"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             placeholder="milliseconds">
        </div>
      </div>
      <div class="panel-footer">
        <a ng-click="mnFilterCtl.onReset()">Reset</a>
        <button type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
