name: build adocs

on: workflow_dispatch

jobs:
  adoc_build:
    runs-on: ubuntu-18.04
    name: build docs
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get build container
        id: adocbuild
        uses: tonynv/asciidoctor-action@master
        with:
          program: "asciidoctor -D docs -r ./docs/lib/cb-docinfoprocessor.rb -a toc=left -a toclevels=4 -a source-highlighter=coderay -a stylesheet=couchbase.css -a linkcss=true docs/index.adoc"
      - name: Print execution time
        run: echo "Time ${{ steps.adocbuild.outputs.time }}"
      - name: Deploy docs to ghpages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./
