<div class="dialog-lg wb-history-dialog dialog-resizable" style="height:80vh">
  <div class="panel-header">
    <h2>Query History</h2>
  </div>

    <div class="panel-content" style="height:calc(100% - 100px)">
      <div class="filter-input-group scroll-shadow-top width-12">
        <input type="text" name="searchTerm" maxlength="256" class="filter-input"
           placeholder="filter queries"
           ng-model="searchInfo.searchText"
           ng-change="updateSearchResults()"
           autocomplete="off">
        <span
           class="icon fa-search-minus"
           ng-hide="searchInfo.searchText.length > 0">
        </span>
        <span
           class="icon fa-times-circle"
           ng-show="searchInfo.searchText.length > 0"
           ng-click="searchInfo.searchText = ''; updateSearchResults()">
        </span>
      </div>

      <div class="wb-history-table history-list">
          <section ng-repeat="query in pastQueries" ng-if="showRow($index)">
            <span
               ng-if="showRow($index)"
               ng-class="{'selected': isRowSelected($index)}"
               ng-attr-id="{{'qw_history_table_' + $index}}"
               ng-click="select($index)"
               ng-dblclick="select($index);$close('ok')"
               class="text-small text-center width-1">
              {{$index + 1}}
             </span>
            <span
               ng-if="showRow($index)"
               ng-class="{'selected': isRowSelected($index)}"
               ng-click="select($index,$event)"
               ng-dblclick="select($index);$close('ok')"
               class="text-small width-11">
               <div>
                {{query.query | limitTo: 1024}}{{query.query.length > 1024 ? '...' : ''}}
               </div>
               <span>
                <span class="wb-result-status"
                  ng-class="{success: query.status_success(), error: query.status_fail()}">
                  {{query.status}}
                </span>
                {{query.getLastDetails()}}
            </span>

            </span>
          </section>
      </div>
    </div>

    <div class="panel-footer spaced scroll-shadow">
      <span>
        <button
           type="submit"
           class="outline"
           ng-disabled="disableDel()"
           ng-click="del()">
          Delete Selected
        </button>
        <button
           type="submit"
           class="outline"
           ng-click="delAll($close)">
          Delete All
        </button>
      </span>
      <span>
        <button
           type="submit"
           class="outline"
           ng-disabled="disableDel()"
           ng-click="$close('run')">
          Close & Run
        </button>
        <button
           type="submit"
           class="outline"
           ng-click="$close()">
          Close
        </button>
      </span>
    </div>
</div>
