<div class="forms">
  <div class="formrow">
    <div class="row">
      <label>Name</label>
      <script type="text/ng-template" id="users-tooltip.html">
       <div ng-if="users.length > 3">
       <div ng-repeat="user in users.slice(0, 3)">{{user}}</div>
       <a ng-click="goToUsersPage()">more ...</a>
       </div>
       <div ng-if="users.length < 4">
       <div ng-repeat="user in users">{{user}}</div>
       </div>
      </script>
      <a
        ng-if="rbac && rbac.cluster.admin.security.read && users.length > 0"
        class="cursor-pointer"
        uib-tooltip-template="'users-tooltip.html'"
        tooltip-append-to-body="true"
        tooltip-placement="right">
        <span class="text-smaller">authorized users</span>
      </a>
    </div>

    <input
       type="text"
       ng-model="bucketConf.name"
       ng-disabled="bucketConf.isWizard || !bucketConf.isNew"
       mn-focus="!(bucketConf.isWizard || !bucketConf.isNew)"
       autocorrect="off"
       spellcheck="false"
       autocapitalize="off">
    <div
       class="error"
       ng-show="validation.result.errors.name">
      {{validation.result.errors.name}}
    </div>
  </div>

  <div class="formrow">
    <label>Memory Quota <small>in megabytes per server node</small></label>
    <div class="form-inline margin-bottom-1">
      <input
         type="number"
         mn-focus="(bucketConf.isWizard || !bucketConf.isNew)"
         ng-class="{invalid: validation.result.errors.ramQuotaMB}"
         value="30"
         ng-model="bucketConf.ramQuotaMB">
      <abbr>MB</abbr>
    </div>
    <div
       class="bar-usages bucket-add"
       ng-class="{overcommitted: !!validation.result.guageConfig.topLeft}"
       mn-bar-usage
       base-info="validation.result.guageConfig">
    </div>
    <div
       class="error"
       ng-show="validation.result.errors.ramQuotaMB">
      {{validation.result.errors.ramQuotaMB}}
    </div>
  </div>

  <div class="formrow">
    <label>Bucket Type</label>
    <input
       type="radio"
       value="membase"
       id="for-bucket-type-membase"
       ng-model="bucketConf.bucketType"
       ng-disabled="!bucketConf.isNew">
    <label for="for-bucket-type-membase">Couchbase</label>
    <input
       type="radio"
       value="memcached"
       id="for-bucket-type-memcached"
       ng-model="bucketConf.bucketType"
       ng-disabled="!bucketConf.isNew">
    <label for="for-bucket-type-memcached">Memcached</label>
    <input
       type="radio"
       value="ephemeral"
       id="for-bucket-type-ephemeral"
       ng-model="bucketConf.bucketType"
       ng-disabled="!bucketConf.isNew">
    <label
       for="for-bucket-type-ephemeral">Ephemeral</label>
  </div>

  <div class="formrow">
    <span
       class="disclosure inline"
       ng-class="{disclosed: showAdvancedSettings}"
       ng-click="showAdvancedSettings = !showAdvancedSettings">
      Advanced bucket settings
    </span>
  </div>

  <div ng-show="showAdvancedSettings">
    <div
       class="formrow checkbox-list"
       ng-show="bucketConf.bucketType === 'membase' || bucketConf.bucketType === 'ephemeral'">
      <label>Replicas</label>
      <div class="row flex-left">
        <span class="column">
          <input
             type="checkbox"
             id="for-enable-replicas"
             ng-model="replicaNumberEnabled">
          <label for="for-enable-replicas">Enable</label>
        </span>
        <div ng-if="replicaNumberEnabled" class="row flex-left width-8">
          <div class="simple-select margin-right-half">
            <select
               name="replicaNumber"
               ng-model="bucketConf.replicaNumber"
               ng-options="number for number in [1,2,3]">
            </select>
          </div>
          <small>Number of replica (backup) copies</small>
        </div>
      </div>
      <div
         class="error margin-bottom-half"
         ng-show="validation.result.errors.replicaNumber">
        {{validation.result.errors.replicaNumber}}
      </div>
      <div class="formrow" ng-show="bucketConf.bucketType === 'membase'">
        <input
           type="checkbox"
           id="for-enable-view-replicas"
           ng-model="bucketConf.replicaIndex"
           ng-false-value="0"
           ng-true-value="1"
           ng-disabled="!(replicaNumberEnabled && bucketConf.isNew)">
        <label for="for-enable-view-replicas">Replicate view indexes</label>
      </div>
    </div>

    <div
       class="formrow"
       ng-if="pools.isEnterprise &&
              poolDefault.compat.atLeast55 &&
              (bucketConf.bucketType === 'membase' ||
              bucketConf.bucketType === 'ephemeral')">
      <label class="inline">Bucket Max Time-To-Live</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip-html="'The maximum time-to-live (TTL) for all documents in
            this bucket in seconds. If enabled and a document is mutated with no TTL
            or a TTL greater than than the maximum, its TTL will be set to the
            maximum bucket TTL. The largest TTL allowed is 2147483647. This option is
            only available for Couchbase and Ephemeral buckets in Couchbase
            Enterprise Edition.'"
         tooltip-placement="top">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="row flex-left">
        <span class="width-3">
          <input
             type="checkbox"
             id="enable_bucket_ttl"
             ng-model="bucketConf.enableMaxTTL">
          <label for="enable_bucket_ttl">Enable</label>
        </span>
        <span class="row flex-left width-9">
          <input
             type="text"
             ng-model="bucketConf.maxTTL"
             ng-disabled="!bucketConf.enableMaxTTL"
             class="margin-right-half width-3">
          <small> second{{bucketConf.maxTTL == 1 ? "" : "s"}}</small>
        </span>
      </div>
      <div
         class="error"
         ng-show="validation.result.errors.maxTTL">
        {{validation.result.errors.maxTTL}}
      </div>
      <div
         ng-if="bucketConf.enableMaxTTL && bucketConf.maxTTL > 0"
         class="content-box row margin-top-1">
        <p>
          <strong>NOTE</strong> &nbsp;A non-zero value will result in eventual data loss. You should not, for example, enable Bucket TTL
          on permanent storage buckets or the metadata buckets for Eventing.
        </p>
      </div>
    </div>

    <div
       class="formrow"
       ng-if="pools.isEnterprise &&
              poolDefault.compat.atLeast55 &&
              (bucketConf.bucketType === 'membase' ||
              bucketConf.bucketType === 'ephemeral')">
      <label class="inline">Compression Mode</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip-html="'<strong>Off</strong> - compressed documents are accepted but actively decompressed for storage in memory and for streaming. Not advised!<br>
                           <strong>Passive</strong> - compressed documents can be stored and streamed from the server,
                           but the server does not try to actively compress documents (client-initiated)<br>
                           <strong>Active</strong> - the server will try to actively compress documents in memory'"
                           tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="formrow checkbox-list">
        <input
           type="radio"
           id="for-comp-mode-off"
           ng-model="bucketConf.compressionMode"
           name="compMode"
           value="off">
        <label for="for-comp-mode-off">Off</label> <!--  default value -->
        <input
           type="radio"
           id="for-comp-mode-passive"
           ng-model="bucketConf.compressionMode"
           name="compMode"
           value="passive">
        <label for="for-comp-mode-passive">Passive</label>
        <input
           type="radio"
           id="for-comp-mode-active"
           ng-model="bucketConf.compressionMode"
           name="compMode"
           value="active">
        <label for="for-comp-mode-active">Active</label>
      </div>
    </div>

    <div ng-if="pools.isEnterprise && (bucketConf.bucketType === 'membase' || bucketConf.bucketType === 'ephemeral')">
      <label class="inline">Conflict Resolution</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="Choose the timestamp conflict resolution method if XDCR replications will be set up for this bucket. Attention: timestamp conflict resolution requires additional NTP setup."
         tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="formrow checkbox-list">
        <input
           type="radio"
           id="for-conflict-resolution-seqno"
           ng-model="bucketConf.conflictResolutionType"
           name="conflictResolutionType"
           value="seqno"
           ng-disabled="!bucketConf.isNew">
        <label for="for-conflict-resolution-seqno">Sequence number</label>
        <input
           type="radio"
           id="for-conflict-resolution-lww"
           ng-model="bucketConf.conflictResolutionType"
           name="conflictResolutionType"
           value="lww"
           ng-disabled="!bucketConf.isNew">
        <label for="for-conflict-resolution-lww">Timestamp</label>
        <div
           class="error"
           ng-show="validation.result.errors.conflictResolutionType">
          {{validation.result.errors.conflictResolutionType}}
        </div>
        <div
           class="error"
           ng-show="bucketConf.conflictResolutionType === 'lww'">
          Warning: Timestamp-based conflict resolution requires NTP to be correctly set up
          on all the nodes in your replication topology to ensure high-quality time synchronization.
          See  <a href="http://developer.couchbase.com/documentation/server/current/install/synchronize-clocks-using-ntp.html"
          target="_blank">Setting Up NTP</a> in the Couchbase documentation.
        </div>
      </div>
    </div>

    <div
       class="formrow checkbox-list"
       ng-if="bucketConf.bucketType === 'membase'">
      <label class="inline">Ejection Method</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip-html="'<strong>Value Ejection:</strong> During ejection, only the value will be ejected (key and metadata will remain in memory).<br><br>
                           <strong>Full Ejection:</strong> During ejection, everything (including key, metadata, and value) will be ejected.<br><br>
                           Value Ejection needs more system memory, but provides the best performance. Full Ejection reduces the memory overhead requirement.'"
         tooltip-placement="top">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="formrow checkbox-list">
        <input
           type="radio"
           name="evictionPolicy"
           value="valueOnly"
           id="for-metadata-value-eject"
           checked="checked"
           ng-model="bucketConf.evictionPolicy">
        <label for="for-metadata-value-eject">Value-only</label>
        <input
           type="radio"
           name="evictionPolicy"
           value="fullEviction"
           id="for-metadata-full-eject"
           ng-model="bucketConf.evictionPolicy">
        <label for="for-metadata-full-eject">Full</label>
        <div
           class="error"
           ng-show="!!evictionPolicyWarning">
          {{evictionPolicyWarning}}
        </div>
      </div>
    </div>

    <div
       class="formrow checkbox-list"
       ng-if="bucketConf.bucketType === 'ephemeral'">
      <label class="inline">Ejection Policy</label>
        <span
           class="fa-stack icon-info"
           uib-tooltip-html="'Ejection automatically removes older data from RAM
                              to create space for new data if you reach your bucket quota.<br><br>
                              Without automatic ejection, Couchbase Server keeps all data
                              until explicitly deleted, but will reject any new data if
                              you reach the quota (dedicated memory) you set for your bucket.'"
           tooltip-placement="top">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      <div class="formrow">
        <input
           type="radio"
           name="evictionPolicyEphemeral"
           value="noEviction"
           id="for-metadata-value-eject"
           checked="checked"
           ng-disabled="!bucketConf.isNew"
           ng-model="bucketConf.evictionPolicyEphemeral">
        <label for="for-metadata-value-eject">No ejection</label>
        <input
           type="radio"
           name="evictionPolicyEphemeral"
           value="nruEviction"
           id="for-metadata-full-eject"
           ng-disabled="!bucketConf.isNew"
           ng-model="bucketConf.evictionPolicyEphemeral">
        <label for="for-metadata-full-eject">Eject data when RAM is full</label>
        <div
           class="error"
           ng-show="validation.result.errors.evictionPolicy">
          {{validation.result.errors.evictionPolicy}}
        </div>
      </div>
    </div>
    <div class="formrow" ng-show="bucketConf.bucketType === 'ephemeral'">
      <label class="inline">Metadata Purge Interval</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="Set how frequently a node will purge metadata on deleted items. The available range is 0.0007 - 60 where 0.0007 = 1m, 0.5 = 12h. If set too high, it may significantly delay the node from reclaiming memory space. If set too low, it may cause data inconsistencies in XDCR or Views."
         tooltip-placement="top">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="form-inline">
        <input
           type="text"
           ng-disabled="(rbac && !rbac.cluster.settings.write)"
           ng-model="bucketConf.purgeInterval"
           ng-class="{invalid: bucketConf.purgeInterval}"
           id="metadata-purge-frequency">
        <small>Range 0.0007 (1 minute) - 60 days</small>
      </div>
      <div
         class="error"
         ng-show="validation.result.errors.purgeInterval">
        {{validation.result.errors.purgeInterval}}
      </div>
    </div>

    <div ng-show="bucketConf.bucketType === 'membase' || bucketConf.bucketType === 'ephemeral'">
      <label class="inline">Bucket Priority</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip='This allows tasks to be handled based on priority. The effect is relative between buckets: if all buckets are set to "high", then no bucket will have priority over another.'
         tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="formrow checkbox-list">
        <input
           type="radio"
           name="threadsNumber"
           value="3"
           checked="true"
           id="for-low-threads"
           ng-model="bucketConf.threadsNumber">
        <label for="for-low-threads">Default</label>
        <input
           type="radio"
           name="threadsNumber"
           value="8"
           id="for-high-threads"
           ng-model="bucketConf.threadsNumber">
        <label for="for-high-threads">High</label>
      </div>
      <div
         class="error"
         ng-show="!!threadsNumberWarning">
        {{threadsNumberWarning}}
      </div>
    </div>

    <div
       ng-if="!bucketConf.isWizard"
       id="js_bucket_auto_compaction_settings"
       ng-show="bucketConf.bucketType === 'membase'">
      <label class="inline">Auto-Compaction</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="Auto-Compaction settings trigger the compaction process. The process compacts databases and their respective view indexes."
         tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="formrow checkbox-list">
        <input
           type="checkbox"
           id="for-auto-compaction-override"
           ng-model="bucketConf.autoCompactionDefined"
           value="true">
        <label for="for-auto-compaction-override">Override the default auto-compaction settings?</label>
      </div>

      <div
         class="formrow checkbox-list"
         ng-show="bucketConf.autoCompactionDefined"
         mn-auto-compaction-form
         auto-compaction-settings="autoCompactionSettings"
         is-buckets-settings="true"
         validation-errors="validation.result.errors"></div>
    </div>

    <label class="inline">Flush</label>
    <span
       class="fa-stack icon-info"
       uib-tooltip="When flushed, ALL items in the bucket are removed as soon as possible. NOTE: This does not immediately show in item count statistics with memcached buckets."
       tooltip-placement="right">
      <span class="icon fa-circle-thin fa-stack-2x"></span>
      <span class="icon fa-info fa-stack-1x"></span>
    </span>
    <div class="formrow checkbox-list">
      <input
         type="checkbox"
         id="for-enable-flush"
         ng-model="bucketConf.flushEnabled"
         ng-false-value="0"
         ng-true-value="1">
      <label for="for-enable-flush">Enable</label>
    </div>

    <div
       class="formrow checkbox-list"
       ng-if="pools.isEnterprise && bucketConf.bucketType === 'membase'">
      <label class="inline">Storage Backend</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip-html="'Type of storage backend'"
         tooltip-placement="top">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="formrow checkbox-list">
        <input
           type="radio"
           name="storageBackend"
           value="couchstore"
           id="for-storage-backend-couchstore"
           checked="checked"
           ng-model="bucketConf.storageBackend"
           ng-disabled="!bucketConf.isNew">
        <label for="for-storage-backend-couchstore">CouchStore</label>
        <input
           type="radio"
           name="storageBackend"
           value="magma"
           id="for-storage-backend-magma"
           ng-model="bucketConf.storageBackend"
           ng-disabled="!bucketConf.isNew">
        <label for="for-storage-backend-magma">Magma</label>
        <div
           class="error margin-bottom-half"
           ng-show="validation.result.errors.storageBackend">
            {{validation.result.errors.storageBackend}}
        </div>
      </div>
    </div>
  </div>
</div>
